In [1]:
import requests
import pandas as pd
import urllib3
import time
from datetime import datetime

urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

## Login

In [2]:
def get_with_auth(url, login, password):
    # Define the parameters to send in the GET request
    params = {
        'username': login,
        'password': password
    }

    try:
        # Send GET request with parameters
        response = requests.get(url, params=params, verify=False ) #, cert=("C:/Users/FilipeFurlanBellotti/Documents/Vitrolife/API/API Prototype/cert/cert.pem", "C:/Users/FilipeFurlanBellotti/Documents/Vitrolife/API/API Prototype/cert/key.pem"))
        
        # Raise an exception if the request failed
        response.raise_for_status()
        
        # Return the response content
        return response  # Use response.json() for JSON data
    except requests.exceptions.RequestException as e:
        print(f"Error fetching URL: {e}")
        return None

In [3]:
base_url = 'https://10.250.115.39:4000/'
    
login_url = "LOGIN"

URL = base_url + login_url

content = get_with_auth(URL, 'Web', 'web')

token = content.json()['Token']

token

'F85CC2E269BB41EB891B95D82E5EE314'

## Patients

In [4]:
def get_patients(base_url, token):
    # Define the URL for getting patients
    url = base_url + "/GET/patients"

    # Define the headers with the API token
    headers = {
        'API-token': token
    }

    try:
        # Send GET request to fetch patients
        response = requests.get(url, headers=headers, verify=False)
        
        # Raise an exception if the request failed
        response.raise_for_status()
        
        # Return the response content
        return response  # Assuming the response is in JSON format
    except requests.exceptions.RequestException as e:
        print(f"Error fetching patients: {e}")
        return None

url = base_url + "/GET/patients"


response = get_patients(base_url, token)

if response is not None:
    # Convert the response to a DataFrame
    patients = response.json()
    df_patients = pd.DataFrame(patients['Patients'])

In [5]:
df_patients.head()

,PatientIDx,PatientID,FirstName,LastName,DateOfBirth
0,NEXTGEN_43622.7870662732,1111,first,test,NaN
1,PC10T4L72760_43623.4196205208,9999,Jane,Doe,NaN
2,NEXTGEN_43622.6655321528,0000,cam,test,NaN
3,PC10T4L77647_43623.5757282639,send mail to Martin,End,Tuesday,NaN
4,PC10T4L790165_43625.4810629630,62.399,Amanda Alves,Pollone,1983.12.01

# Treatments

In [6]:
def get_treatments(base_url, token, patientIDx):
    """
    Retrieve treatments for a given patientIDx from the API.

    Args:
        base_url (str): The base URL of the API.
        token (str): The API authentication token.
        patientIDx (str): The unique patient identifier.

    Returns:
        dict or None: The JSON response containing treatments, or None if request fails.
    """
    url = f"{base_url}/GET/TREATMENT"
    params = {'patientIDx': patientIDx}
    headers = {'API-token': token}

    try:
        response = requests.get(url, headers=headers, params=params, verify=False)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error fetching treatments: {e}")
        return None

In [7]:
df_patients.sample(5, random_state=42)  # Display a sample of 5 patients for verification

,PatientIDx,PatientID,FirstName,LastName,DateOfBirth
1558,PC1R85KM_45119.4351552199,520.124,"CARNEIRO, ZENI",07/08/1981,1981.08.07
1165,PC10T4L7_44803.5316606366,141.725,"FERRARI, CAROLINE T.",21/09/1977,1977.09.21
2577,PC1R85KM_45814.4062967361,884.770,"GUIMARAES, FLORA",22/12/83,1983.12.22
422,PC10T4L72052_44120.4346775926,73.644,"GLEZER, TATIANA",13/07/1977,1977.07.01
695,PC10T4L7_44391.4511898148,45.645,"MATSUO, MARIANA A.",22/07/1982,1982.07.22

In [8]:
get_treatments(base_url, token, 'PC10T4L7_44803.5316606366')

{'TreatmentList': ['2022 - 1449']}

# Embryo ID

In [9]:
def get_embryo_id(base_url, token, patientIDx, treatment_name):
    """
    Retrieve embryo ID data for a given patientIDx and treatment name from the API.

    Args:
        base_url (str): The base URL of the API.
        token (str): The API authentication token.
        patientIDx (str): The unique patient identifier.
        treatment_name (str): The treatment name.

    Returns:
        dict or None: The JSON response containing embryo ID data, or None if request fails.
    """
    url = f"{base_url}/GET/embryoID"
    params = {
        'PatientIDx': patientIDx,
        'TreatmentName': treatment_name
    }
    headers = {'API-token': token}

    try:
        response = requests.get(url, headers=headers, params=params, verify=False)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error fetching embryo ID: {e}")
        return None

In [10]:
get_embryo_id(base_url, token, 'PC10T4L7_44803.5316606366', '2022 - 1449')

{'EmbryoIDList': ['D2022.08.30_S01790_I3253_P-1',
  'D2022.08.30_S01790_I3253_P-2',
  'D2022.08.30_S01790_I3253_P-3',
  'D2022.08.30_S01790_I3253_P-4',
  'D2022.08.30_S01790_I3253_P-5',
  'D2022.08.30_S01790_I3253_P-6',
  'D2022.08.30_S01790_I3253_P-7',
  'D2022.08.30_S01790_I3253_P-8',
  'D2022.08.30_S01790_I3253_P-9',
  'D2022.08.30_S01790_I3253_P-10']}

# Fertilization time

In [11]:
def get_fertilization_time(base_url, token, embryo_id):
    """
    Retrieve fertilization time for a given EmbryoID from the API.

    Args:
        base_url (str): The base URL of the API.
        token (str): The API authentication token.
        embryo_id (str): The EmbryoID.

    Returns:
        dict or None: The JSON response containing fertilization time, or None if request fails.
    """
    url = f"{base_url}/GET/fertilizationtime"
    params = {'EmbryoID': embryo_id}
    headers = {'API-token': token}

    try:
        response = requests.get(url, headers=headers, params=params, verify=False)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error fetching fertilization time: {e}")
        return None

In [12]:
# Example usage:
get_fertilization_time(base_url, token, 'D2022.08.30_S01790_I3253_P-1')

{'FertilizationTime': '2022.08.30 12:35:00'}

# Image runs

In [13]:
def get_image_runs(base_url, token, embryo_id):
    """
    Retrieve image runs for a given EmbryoID from the API.

    Args:
        base_url (str): The base URL of the API.
        token (str): The API authentication token.
        embryo_id (str): The EmbryoID.

    Returns:
        dict or None: The JSON response containing image runs, or None if request fails.
    """
    url = f"{base_url}/GET/imageruns"
    params = {'EmbryoID': embryo_id}
    headers = {'API-token': token}

    try:
        response = requests.get(url, headers=headers, params=params, verify=False)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error fetching image runs: {e}")
        return None

In [14]:

# Example usage:
get_image_runs(base_url, token, 'D2022.08.30_S01790_I3253_P-1')

{'ImageRuns': [{'Run': 1, 'Time': 0.3},
  {'Run': 2, 'Time': 0.4},
  {'Run': 3, 'Time': 0.7},
  {'Run': 4, 'Time': 0.9},
  {'Run': 5, 'Time': 1.1},
  {'Run': 6, 'Time': 1.3},
  {'Run': 7, 'Time': 1.4},
  {'Run': 8, 'Time': 1.6},
  {'Run': 9, 'Time': 1.8},
  {'Run': 10, 'Time': 2},
  {'Run': 11, 'Time': 2.1},
  {'Run': 12, 'Time': 2.3},
  {'Run': 13, 'Time': 2.7},
  {'Run': 14, 'Time': 3},
  {'Run': 15, 'Time': 3.6},
  {'Run': 16, 'Time': 4.6},
  {'Run': 17, 'Time': 4.8},
  {'Run': 18, 'Time': 5},
  {'Run': 19, 'Time': 5.2},
  {'Run': 20, 'Time': 5.3},
  {'Run': 21, 'Time': 5.5},
  {'Run': 22, 'Time': 5.7},
  {'Run': 23, 'Time': 5.9},
  {'Run': 24, 'Time': 6},
  {'Run': 25, 'Time': 6.2},
  {'Run': 26, 'Time': 6.4},
  {'Run': 27, 'Time': 6.6},
  {'Run': 28, 'Time': 6.7},
  {'Run': 29, 'Time': 6.9},
  {'Run': 30, 'Time': 7.1},
  {'Run': 31, 'Time': 7.3},
  {'Run': 32, 'Time': 7.4},
  {'Run': 33, 'Time': 7.6},
  {'Run': 34, 'Time': 7.8},
  {'Run': 35, 'Time': 8},
  {'Run': 36, 'Time': 8.1},
  {'Run': 37, 'Time': 8.3},
  {'Run': 38, 'Time': 8.5},
  {'Run': 39, 'Time': 8.7},
  {'Run': 40, 'Time': 8.8},
  {'Run': 41, 'Time': 9},
  {'Run': 42, 'Time': 9.2},
  {'Run': 43, 'Time': 9.4},
  {'Run': 44, 'Time': 9.5},
  {'Run': 45, 'Time': 9.7},
  {'Run': 46, 'Time': 9.9},
  {'Run': 47, 'Time': 10.1},
  {'Run': 48, 'Time': 10.2},
  {'Run': 49, 'Time': 10.4},
  {'Run': 50, 'Time': 10.6},
  {'Run': 51, 'Time': 10.8},
  {'Run': 52, 'Time': 10.9},
  {'Run': 53, 'Time': 11.1},
  {'Run': 54, 'Time': 11.3},
  {'Run': 55, 'Time': 11.5},
  {'Run': 56, 'Time': 11.6},
  {'Run': 57, 'Time': 11.8},
  {'Run': 58, 'Time': 12},
  {'Run': 59, 'Time': 12.2},
  {'Run': 60, 'Time': 12.3},
  {'Run': 61, 'Time': 12.5},
  {'Run': 62, 'Time': 12.7},
  {'Run': 63, 'Time': 12.9},
  {'Run': 64, 'Time': 13},
  {'Run': 65, 'Time': 13.2},
  {'Run': 66, 'Time': 13.4},
  {'Run': 67, 'Time': 13.6},
  {'Run': 68, 'Time': 13.7},
  {'Run': 69, 'Time': 13.9},
  {'Run': 70, 'Time': 14.1},
  {'Run': 71, 'Time': 14.3},
  {'Run': 72, 'Time': 14.4},
  {'Run': 73, 'Time': 14.6},
  {'Run': 74, 'Time': 14.8},
  {'Run': 75, 'Time': 15},
  {'Run': 76, 'Time': 15.1},
  {'Run': 77, 'Time': 15.3},
  {'Run': 78, 'Time': 15.5},
  {'Run': 79, 'Time': 15.7},
  {'Run': 80, 'Time': 15.8},
  {'Run': 81, 'Time': 16},
  {'Run': 82, 'Time': 16.2},
  {'Run': 83, 'Time': 16.4},
  {'Run': 84, 'Time': 16.5},
  {'Run': 85, 'Time': 16.7},
  {'Run': 86, 'Time': 16.9},
  {'Run': 87, 'Time': 17.1},
  {'Run': 88, 'Time': 17.2},
  {'Run': 89, 'Time': 17.4},
  {'Run': 90, 'Time': 17.6},
  {'Run': 91, 'Time': 17.8},
  {'Run': 92, 'Time': 17.9},
  {'Run': 93, 'Time': 18.1},
  {'Run': 94, 'Time': 18.3},
  {'Run': 95, 'Time': 18.5},
  {'Run': 96, 'Time': 18.6},
  {'Run': 97, 'Time': 18.8},
  {'Run': 98, 'Time': 19},
  {'Run': 99, 'Time': 19.2},
  {'Run': 100, 'Time': 19.4},
  {'Run': 101, 'Time': 19.5},
  {'Run': 102, 'Time': 19.7},
  {'Run': 103, 'Time': 19.9},
  {'Run': 104, 'Time': 20.1},
  {'Run': 105, 'Time': 20.2},
  {'Run': 106, 'Time': 20.4},
  {'Run': 107, 'Time': 20.6},
  {'Run': 108, 'Time': 20.8},
  {'Run': 109, 'Time': 20.9},
  {'Run': 110, 'Time': 21.1},
  {'Run': 111, 'Time': 21.3},
  {'Run': 112, 'Time': 21.5},
  {'Run': 113, 'Time': 21.6},
  {'Run': 114, 'Time': 21.8},
  {'Run': 115, 'Time': 22},
  {'Run': 116, 'Time': 22.2},
  {'Run': 117, 'Time': 22.4},
  {'Run': 118, 'Time': 22.6},
  {'Run': 119, 'Time': 22.8},
  {'Run': 120, 'Time': 23},
  {'Run': 121, 'Time': 23.1},
  {'Run': 122, 'Time': 23.3},
  {'Run': 123, 'Time': 23.6},
  {'Run': 124, 'Time': 23.8},
  {'Run': 125, 'Time': 24},
  {'Run': 126, 'Time': 24.3},
  {'Run': 127, 'Time': 24.5},
  {'Run': 128, 'Time': 24.7},
  {'Run': 129, 'Time': 24.9},
  {'Run': 130, 'Time': 25.1},
  {'Run': 131, 'Time': 25.2},
  {'Run': 132, 'Time': 25.4},
  {'Run': 133, 'Time': 25.6},
  {'Run': 134, 'Time': 25.8},
  {'Run': 135, 'Time': 26},
  {'Run': 136, 'Time': 26.2},
  {'Run': 137, 'Time': 26.3},
  {'Run': 138, 'Time': 26.5},
  {'Run': 139, 'Time': 26.7},
  {'Run': 140, 'Time': 26.9},
  {'Run': 141, 'Time': 27.1},
  {'Run': 142, 'Time': 27.3},
  {'Run': 143, 'Time': 27.4},
  {'Run': 144, 'Time': 27.6},
  {'Run': 145, 'Time': 27.8},
  {'Run': 146, 'Time': 28},
  {'Run': 147, 'Time': 28.2},
  {'Run': 148, 'Time': 28.4},
  {'Run': 149, 'Time': 28.5},
  {'Run': 150, 'Time': 28.7},
  {'Run': 151, 'Time': 28.9},
  {'Run': 152, 'Time': 29.1},
  {'Run': 153, 'Time': 29.3},
  {'Run': 154, 'Time': 29.4},
  {'Run': 155, 'Time': 29.6},
  {'Run': 156, 'Time': 29.8},
  {'Run': 157, 'Time': 30},
  {'Run': 158, 'Time': 30.2},
  {'Run': 159, 'Time': 30.4},
  {'Run': 160, 'Time': 30.5},
  {'Run': 161, 'Time': 30.7},
  {'Run': 162, 'Time': 30.9},
  {'Run': 163, 'Time': 31.1},
  {'Run': 164, 'Time': 31.3},
  {'Run': 165, 'Time': 31.5},
  {'Run': 166, 'Time': 31.6},
  {'Run': 167, 'Time': 31.8},
  {'Run': 168, 'Time': 32},
  {'Run': 169, 'Time': 32.2},
  {'Run': 170, 'Time': 32.4},
  {'Run': 171, 'Time': 32.6},
  {'Run': 172, 'Time': 32.7},
  {'Run': 173, 'Time': 32.9},
  {'Run': 174, 'Time': 33.1},
  {'Run': 175, 'Time': 33.3},
  {'Run': 176, 'Time': 33.5},
  {'Run': 177, 'Time': 33.7},
  {'Run': 178, 'Time': 33.8},
  {'Run': 179, 'Time': 34},
  {'Run': 180, 'Time': 34.2},
  {'Run': 181, 'Time': 34.4},
  {'Run': 182, 'Time': 34.6},
  {'Run': 183, 'Time': 34.7},
  {'Run': 184, 'Time': 34.9},
  {'Run': 185, 'Time': 35.1},
  {'Run': 186, 'Time': 35.3},
  {'Run': 187, 'Time': 35.5},
  {'Run': 188, 'Time': 35.7},
  {'Run': 189, 'Time': 35.8},
  {'Run': 190, 'Time': 36},
  {'Run': 191, 'Time': 36.2},
  {'Run': 192, 'Time': 36.4},
  {'Run': 193, 'Time': 36.6},
  {'Run': 194, 'Time': 36.8},
  {'Run': 195, 'Time': 36.9},
  {'Run': 196, 'Time': 37.1},
  {'Run': 197, 'Time': 37.3},
  {'Run': 198, 'Time': 37.5},
  {'Run': 199, 'Time': 37.7},
  {'Run': 200, 'Time': 37.9},
  {'Run': 201, 'Time': 38},
  {'Run': 202, 'Time': 38.2},
  {'Run': 203, 'Time': 38.4},
  {'Run': 204, 'Time': 38.6},
  {'Run': 205, 'Time': 38.8},
  {'Run': 206, 'Time': 39},
  {'Run': 207, 'Time': 39.1},
  {'Run': 208, 'Time': 39.3},
  {'Run': 209, 'Time': 39.5},
  {'Run': 210, 'Time': 39.7},
  {'Run': 211, 'Time': 39.9},
  {'Run': 212, 'Time': 40},
  {'Run': 213, 'Time': 40.2},
  {'Run': 214, 'Time': 40.4},
  {'Run': 215, 'Time': 40.6},
  {'Run': 216, 'Time': 40.8},
  {'Run': 217, 'Time': 41},
  {'Run': 218, 'Time': 41.1},
  {'Run': 219, 'Time': 41.3},
  {'Run': 220, 'Time': 41.5},
  {'Run': 221, 'Time': 41.7},
  {'Run': 222, 'Time': 41.9},
  {'Run': 223, 'Time': 42.1},
  {'Run': 224, 'Time': 42.2},
  {'Run': 225, 'Time': 42.4},
  {'Run': 226, 'Time': 42.6},
  {'Run': 227, 'Time': 42.8},
  {'Run': 228, 'Time': 43},
  {'Run': 229, 'Time': 43.2},
  {'Run': 230, 'Time': 43.3},
  {'Run': 231, 'Time': 43.5},
  {'Run': 232, 'Time': 43.7},
  {'Run': 233, 'Time': 43.9},
  {'Run': 234, 'Time': 44.1},
  {'Run': 235, 'Time': 44.3},
  {'Run': 236, 'Time': 44.4},
  {'Run': 237, 'Time': 44.6},
  {'Run': 238, 'Time': 44.8},
  {'Run': 239, 'Time': 45},
  {'Run': 240, 'Time': 45.2},
  {'Run': 241, 'Time': 45.3},
  {'Run': 242, 'Time': 45.5},
  {'Run': 243, 'Time': 45.7},
  {'Run': 244, 'Time': 45.9},
  {'Run': 245, 'Time': 46.1},
  {'Run': 246, 'Time': 46.3},
  {'Run': 247, 'Time': 46.6},
  {'Run': 248, 'Time': 46.8},
  {'Run': 249, 'Time': 46.9},
  {'Run': 250, 'Time': 47.2},
  {'Run': 251, 'Time': 47.7},
  {'Run': 252, 'Time': 47.9},
  {'Run': 253, 'Time': 48.2},
  {'Run': 254, 'Time': 48.4},
  {'Run': 255, 'Time': 48.7},
  {'Run': 256, 'Time': 48.9},
  {'Run': 257, 'Time': 49},
  {'Run': 258, 'Time': 49.2},
  {'Run': 259, 'Time': 49.4},
  {'Run': 260, 'Time': 49.8},
  {'Run': 261, 'Time': 50},
  {'Run': 262, 'Time': 50.2},
  {'Run': 263, 'Time': 50.4},
  {'Run': 264, 'Time': 50.6},
  {'Run': 265, 'Time': 50.8},
  {'Run': 266, 'Time': 51},
  {'Run': 267, 'Time': 51.1},
  {'Run': 268, 'Time': 51.3},
  {'Run': 269, 'Time': 51.5},
  {'Run': 270, 'Time': 51.7},
  {'Run': 271, 'Time': 51.9},
  {'Run': 272, 'Time': 52.1},
  {'Run': 273, 'Time': 52.2},
  {'Run': 274, 'Time': 52.4},
  {'Run': 275, 'Time': 52.6},
  {'Run': 276, 'Time': 52.8},
  {'Run': 277, 'Time': 53},
  {'Run': 278, 'Time': 53.1},
  {'Run': 279, 'Time': 53.3},
  {'Run': 280, 'Time': 53.5},
  {'Run': 281, 'Time': 53.7},
  {'Run': 282, 'Time': 53.9},
  {'Run': 283, 'Time': 54.1},
  {'Run': 284, 'Time': 54.2},
  {'Run': 285, 'Time': 54.4},
  {'Run': 286, 'Time': 54.6},
  {'Run': 287, 'Time': 54.8},
  {'Run': 288, 'Time': 55},
  {'Run': 289, 'Time': 55.2},
  {'Run': 290, 'Time': 55.3},
  {'Run': 291, 'Time': 55.5},
  {'Run': 292, 'Time': 55.7},
  {'Run': 293, 'Time': 55.9},
  {'Run': 294, 'Time': 56.1},
  {'Run': 295, 'Time': 56.3},
  {'Run': 296, 'Time': 56.4},
  {'Run': 297, 'Time': 56.6},
  {'Run': 298, 'Time': 56.8},
  {'Run': 299, 'Time': 57},
  {'Run': 300, 'Time': 57.2},
  {'Run': 301, 'Time': 57.3},
  {'Run': 302, 'Time': 57.5},
  {'Run': 303, 'Time': 57.7},
  {'Run': 304, 'Time': 57.9},
  {'Run': 305, 'Time': 58.1},
  {'Run': 306, 'Time': 58.3},
  {'Run': 307, 'Time': 58.4},
  {'Run': 308, 'Time': 58.6},
  {'Run': 309, 'Time': 58.8},
  {'Run': 310, 'Time': 59},
  {'Run': 311, 'Time': 59.2},
  {'Run': 312, 'Time': 59.4},
  {'Run': 313, 'Time': 59.5},
  {'Run': 314, 'Time': 59.7},
  {'Run': 315, 'Time': 59.9},
  {'Run': 316, 'Time': 60.1},
  {'Run': 317, 'Time': 60.3},
  {'Run': 318, 'Time': 60.5},
  {'Run': 319, 'Time': 60.6},
  {'Run': 320, 'Time': 60.8},
  {'Run': 321, 'Time': 61},
  {'Run': 322, 'Time': 61.2},
  {'Run': 323, 'Time': 61.4},
  {'Run': 324, 'Time': 61.5},
  {'Run': 325, 'Time': 61.7},
  {'Run': 326, 'Time': 61.9},
  {'Run': 327, 'Time': 62.1},
  {'Run': 328, 'Time': 62.3},
  {'Run': 329, 'Time': 62.5},
  {'Run': 330, 'Time': 62.6},
  {'Run': 331, 'Time': 62.8},
  {'Run': 332, 'Time': 63},
  {'Run': 333, 'Time': 63.2},
  {'Run': 334, 'Time': 63.4},
  {'Run': 335, 'Time': 63.6},
  {'Run': 336, 'Time': 63.7},
  {'Run': 337, 'Time': 63.9},
  {'Run': 338, 'Time': 64.1},
  {'Run': 339, 'Time': 64.3},
  {'Run': 340, 'Time': 64.5},
  {'Run': 341, 'Time': 64.7},
  {'Run': 342, 'Time': 64.8},
  {'Run': 343, 'Time': 65},
  {'Run': 344, 'Time': 65.2},
  {'Run': 345, 'Time': 65.4},
  {'Run': 346, 'Time': 65.6},
  {'Run': 347, 'Time': 65.7},
  {'Run': 348, 'Time': 65.9},
  {'Run': 349, 'Time': 66.1},
  {'Run': 350, 'Time': 66.3},
  {'Run': 351, 'Time': 66.5},
  {'Run': 352, 'Time': 66.7},
  {'Run': 353, 'Time': 66.8},
  {'Run': 354, 'Time': 67},
  {'Run': 355, 'Time': 67.2},
  {'Run': 356, 'Time': 67.4},
  {'Run': 357, 'Time': 67.6},
  {'Run': 358, 'Time': 67.8},
  {'Run': 359, 'Time': 67.9},
  {'Run': 360, 'Time': 68.1},
  {'Run': 361, 'Time': 68.3},
  {'Run': 362, 'Time': 68.5},
  {'Run': 363, 'Time': 68.7},
  {'Run': 364, 'Time': 68.9},
  {'Run': 365, 'Time': 69},
  {'Run': 366, 'Time': 69.2},
  {'Run': 367, 'Time': 69.4},
  {'Run': 368, 'Time': 69.6},
  {'Run': 369, 'Time': 70},
  {'Run': 370, 'Time': 70.2},
  {'Run': 371, 'Time': 70.3},
  {'Run': 372, 'Time': 70.5},
  {'Run': 373, 'Time': 71},
  {'Run': 374, 'Time': 71.1},
  {'Run': 375, 'Time': 71.3},
  {'Run': 376, 'Time': 71.5},
  {'Run': 377, 'Time': 71.7},
  {'Run': 378, 'Time': 72},
  {'Run': 379, 'Time': 72.1},
  {'Run': 380, 'Time': 72.3},
  {'Run': 381, 'Time': 72.6},
  {'Run': 382, 'Time': 72.8},
  {'Run': 383, 'Time': 73},
  {'Run': 384, 'Time': 73.1},
  {'Run': 385, 'Time': 73.3},
  {'Run': 386, 'Time': 73.5},
  {'Run': 387, 'Time': 73.7},
  {'Run': 388, 'Time': 73.9},
  {'Run': 389, 'Time': 74},
  {'Run': 390, 'Time': 74.2},
  {'Run': 391, 'Time': 74.4},
  {'Run': 392, 'Time': 74.7},
  {'Run': 393, 'Time': 74.9},
  {'Run': 394, 'Time': 75},
  {'Run': 395, 'Time': 75.2},
  {'Run': 396, 'Time': 75.4},
  {'Run': 397, 'Time': 75.6},
  {'Run': 398, 'Time': 75.8},
  {'Run': 399, 'Time': 76},
  {'Run': 400, 'Time': 76.1},
  {'Run': 401, 'Time': 76.3},
  {'Run': 402, 'Time': 76.5},
  {'Run': 403, 'Time': 76.7},
  {'Run': 404, 'Time': 76.9},
  {'Run': 405, 'Time': 77.1},
  {'Run': 406, 'Time': 77.2},
  {'Run': 407, 'Time': 77.4},
  {'Run': 408, 'Time': 77.6},
  {'Run': 409, 'Time': 77.8},
  {'Run': 410, 'Time': 78},
  {'Run': 411, 'Time': 78.2},
  {'Run': 412, 'Time': 78.3},
  {'Run': 413, 'Time': 78.5},
  {'Run': 414, 'Time': 78.7},
  {'Run': 415, 'Time': 78.9},
  {'Run': 416, 'Time': 79.1},
  {'Run': 417, 'Time': 79.2},
  {'Run': 418, 'Time': 79.4},
  {'Run': 419, 'Time': 79.6},
  {'Run': 420, 'Time': 79.8},
  {'Run': 421, 'Time': 80},
  {'Run': 422, 'Time': 80.2},
  {'Run': 423, 'Time': 80.3},
  {'Run': 424, 'Time': 80.5},
  {'Run': 425, 'Time': 80.7},
  {'Run': 426, 'Time': 80.9},
  {'Run': 427, 'Time': 81.1},
  {'Run': 428, 'Time': 81.3},
  {'Run': 429, 'Time': 81.4},
  {'Run': 430, 'Time': 81.6},
  {'Run': 431, 'Time': 81.8},
  {'Run': 432, 'Time': 82},
  {'Run': 433, 'Time': 82.2},
  {'Run': 434, 'Time': 82.3},
  {'Run': 435, 'Time': 82.5},
  {'Run': 436, 'Time': 82.7},
  {'Run': 437, 'Time': 82.9},
  {'Run': 438, 'Time': 83.1},
  {'Run': 439, 'Time': 83.3},
  {'Run': 440, 'Time': 83.4},
  {'Run': 441, 'Time': 83.6},
  {'Run': 442, 'Time': 83.8},
  {'Run': 443, 'Time': 84},
  {'Run': 444, 'Time': 84.2},
  {'Run': 445, 'Time': 84.4},
  {'Run': 446, 'Time': 84.5},
  {'Run': 447, 'Time': 84.7},
  {'Run': 448, 'Time': 84.9},
  {'Run': 449, 'Time': 85.1},
  {'Run': 450, 'Time': 85.3},
  {'Run': 451, 'Time': 85.5},
  {'Run': 452, 'Time': 85.6},
  {'Run': 453, 'Time': 85.8},
  {'Run': 454, 'Time': 86},
  {'Run': 455, 'Time': 86.2},
  {'Run': 456, 'Time': 86.4},
  {'Run': 457, 'Time': 86.5},
  {'Run': 458, 'Time': 86.7},
  {'Run': 459, 'Time': 86.9},
  {'Run': 460, 'Time': 87.1},
  {'Run': 461, 'Time': 87.3},
  {'Run': 462, 'Time': 87.5},
  {'Run': 463, 'Time': 87.6},
  {'Run': 464, 'Time': 87.8},
  {'Run': 465, 'Time': 88},
  {'Run': 466, 'Time': 88.2},
  {'Run': 467, 'Time': 88.4},
  {'Run': 468, 'Time': 88.6},
  {'Run': 469, 'Time': 88.7},
  {'Run': 470, 'Time': 88.9},
  {'Run': 471, 'Time': 89.1},
  {'Run': 472, 'Time': 89.3},
  {'Run': 473, 'Time': 89.5},
  {'Run': 474, 'Time': 89.6},
  {'Run': 475, 'Time': 89.8},
  {'Run': 476, 'Time': 90},
  {'Run': 477, 'Time': 90.2},
  {'Run': 478, 'Time': 90.4},
  {'Run': 479, 'Time': 90.6},
  {'Run': 480, 'Time': 90.7},
  {'Run': 481, 'Time': 90.9},
  {'Run': 482, 'Time': 91.1},
  {'Run': 483, 'Time': 91.3},
  {'Run': 484, 'Time': 91.5},
  {'Run': 485, 'Time': 91.7},
  {'Run': 486, 'Time': 91.8},
  {'Run': 487, 'Time': 92},
  {'Run': 488, 'Time': 92.2},
  {'Run': 489, 'Time': 92.5},
  {'Run': 490, 'Time': 92.6},
  {'Run': 491, 'Time': 92.8},
  {'Run': 492, 'Time': 93},
  {'Run': 493, 'Time': 93.5},
  {'Run': 494, 'Time': 93.8},
  {'Run': 495, 'Time': 94.1},
  {'Run': 496, 'Time': 94.3},
  {'Run': 497, 'Time': 94.5},
  {'Run': 498, 'Time': 94.7},
  {'Run': 499, 'Time': 94.9},
  {'Run': 500, 'Time': 95.2},
  {'Run': 501, 'Time': 95.5},
  {'Run': 502, 'Time': 95.8},
  {'Run': 503, 'Time': 96},
  {'Run': 504, 'Time': 96.2},
  {'Run': 505, 'Time': 96.4},
  {'Run': 506, 'Time': 96.5},
  {'Run': 507, 'Time': 96.7},
  {'Run': 508, 'Time': 96.9},
  {'Run': 509, 'Time': 97.1},
  {'Run': 510, 'Time': 97.3},
  {'Run': 511, 'Time': 97.5},
  {'Run': 512, 'Time': 97.7},
  {'Run': 513, 'Time': 97.8},
  {'Run': 514, 'Time': 98},
  {'Run': 515, 'Time': 98.2},
  {'Run': 516, 'Time': 98.4},
  {'Run': 517, 'Time': 98.6},
  {'Run': 518, 'Time': 98.8},
  {'Run': 519, 'Time': 99},
  {'Run': 520, 'Time': 99.1},
  {'Run': 521, 'Time': 99.3},
  {'Run': 522, 'Time': 99.5},
  {'Run': 523, 'Time': 99.7},
  {'Run': 524, 'Time': 99.9},
  {'Run': 525, 'Time': 100.1},
  {'Run': 526, 'Time': 100.3},
  {'Run': 527, 'Time': 100.4},
  {'Run': 528, 'Time': 100.6},
  {'Run': 529, 'Time': 100.8},
  {'Run': 530, 'Time': 101},
  {'Run': 531, 'Time': 101.2},
  {'Run': 532, 'Time': 101.4},
  {'Run': 533, 'Time': 101.5},
  {'Run': 534, 'Time': 101.7},
  {'Run': 535, 'Time': 101.9},
  {'Run': 536, 'Time': 102.1},
  {'Run': 537, 'Time': 102.3},
  {'Run': 538, 'Time': 102.5},
  {'Run': 539, 'Time': 102.7},
  {'Run': 540, 'Time': 102.8},
  {'Run': 541, 'Time': 103},
  {'Run': 542, 'Time': 103.2},
  {'Run': 543, 'Time': 103.4},
  {'Run': 544, 'Time': 103.6},
  {'Run': 545, 'Time': 103.8},
  {'Run': 546, 'Time': 104},
  {'Run': 547, 'Time': 104.1},
  {'Run': 548, 'Time': 104.3},
  {'Run': 549, 'Time': 104.5},
  {'Run': 550, 'Time': 104.7},
  {'Run': 551, 'Time': 104.9},
  {'Run': 552, 'Time': 105.1},
  {'Run': 553, 'Time': 105.3},
  {'Run': 554, 'Time': 105.4},
  {'Run': 555, 'Time': 105.6},
  {'Run': 556, 'Time': 105.8},
  {'Run': 557, 'Time': 106},
  {'Run': 558, 'Time': 106.2},
  {'Run': 559, 'Time': 106.4},
  {'Run': 560, 'Time': 106.5},
  {'Run': 561, 'Time': 106.7},
  {'Run': 562, 'Time': 106.9},
  {'Run': 563, 'Time': 107.1},
  {'Run': 564, 'Time': 107.3},
  {'Run': 565, 'Time': 107.5},
  {'Run': 566, 'Time': 107.7},
  {'Run': 567, 'Time': 107.8},
  {'Run': 568, 'Time': 108},
  {'Run': 569, 'Time': 108.2},
  {'Run': 570, 'Time': 108.4},
  {'Run': 571, 'Time': 108.6},
  {'Run': 572, 'Time': 108.8},
  {'Run': 573, 'Time': 109},
  {'Run': 574, 'Time': 109.1},
  {'Run': 575, 'Time': 109.3},
  {'Run': 576, 'Time': 109.5},
  {'Run': 577, 'Time': 109.7},
  {'Run': 578, 'Time': 109.9},
  {'Run': 579, 'Time': 110.1},
  {'Run': 580, 'Time': 110.3},
  {'Run': 581, 'Time': 110.4},
  {'Run': 582, 'Time': 110.6},
  {'Run': 583, 'Time': 110.8},
  {'Run': 584, 'Time': 111},
  {'Run': 585, 'Time': 111.2},
  {'Run': 586, 'Time': 111.4},
  {'Run': 587, 'Time': 111.5},
  {'Run': 588, 'Time': 111.7},
  {'Run': 589, 'Time': 111.9},
  {'Run': 590, 'Time': 112.1},
  {'Run': 591, 'Time': 112.3},
  {'Run': 592, 'Time': 112.5},
  {'Run': 593, 'Time': 112.7},
  {'Run': 594, 'Time': 112.8},
  {'Run': 595, 'Time': 113},
  {'Run': 596, 'Time': 113.2},
  {'Run': 597, 'Time': 113.4},
  {'Run': 598, 'Time': 113.6},
  {'Run': 599, 'Time': 113.8},
  {'Run': 600, 'Time': 114},
  {'Run': 601, 'Time': 114.1},
  {'Run': 602, 'Time': 114.3},
  {'Run': 603, 'Time': 114.5},
  {'Run': 604, 'Time': 114.7},
  {'Run': 605, 'Time': 114.9},
  {'Run': 606, 'Time': 115.1},
  {'Run': 607, 'Time': 115.3},
  {'Run': 608, 'Time': 115.4},
  {'Run': 609, 'Time': 115.6},
  {'Run': 610, 'Time': 115.8},
  {'Run': 611, 'Time': 116},
  {'Run': 612, 'Time': 116.2},
  {'Run': 613, 'Time': 116.4},
  {'Run': 614, 'Time': 116.5},
  {'Run': 615, 'Time': 116.7},
  {'Run': 616, 'Time': 116.9},
  {'Run': 617, 'Time': 117.1},
  {'Run': 618, 'Time': 117.5},
  {'Run': 619, 'Time': 117.7},
  {'Run': 620, 'Time': 117.9},
  {'Run': 621, 'Time': 118.1},
  {'Run': 622, 'Time': 118.3},
  {'Run': 623, 'Time': 118.3},
  {'Run': 624, 'Time': 118.5},
  {'Run': 625, 'Time': 118.8},
  {'Run': 626, 'Time': 119.1},
  {'Run': 627, 'Time': 119.3},
  {'Run': 628, 'Time': 119.4},
  {'Run': 629, 'Time': 119.6},
  {'Run': 630, 'Time': 119.8},
  {'Run': 631, 'Time': 120},
  {'Run': 632, 'Time': 120.2},
  {'Run': 633, 'Time': 120.4},
  {'Run': 634, 'Time': 120.6},
  {'Run': 635, 'Time': 120.7},
  {'Run': 636, 'Time': 120.9},
  {'Run': 637, 'Time': 121.1},
  {'Run': 638, 'Time': 121.3},
  {'Run': 639, 'Time': 121.4},
  {'Run': 640, 'Time': 121.6},
  {'Run': 641, 'Time': 121.8},
  {'Run': 642, 'Time': 122},
  {'Run': 643, 'Time': 122.2},
  {'Run': 644, 'Time': 122.3},
  {'Run': 645, 'Time': 122.5},
  {'Run': 646, 'Time': 122.7},
  {'Run': 647, 'Time': 122.9},
  {'Run': 648, 'Time': 123},
  {'Run': 649, 'Time': 123.2},
  {'Run': 650, 'Time': 123.4},
  {'Run': 651, 'Time': 123.6},
  {'Run': 652, 'Time': 123.7},
  {'Run': 653, 'Time': 123.9},
  {'Run': 654, 'Time': 124.1},
  {'Run': 655, 'Time': 124.3},
  {'Run': 656, 'Time': 124.5},
  {'Run': 657, 'Time': 124.6},
  {'Run': 658, 'Time': 124.8},
  {'Run': 659, 'Time': 125},
  {'Run': 660, 'Time': 125.2},
  {'Run': 661, 'Time': 125.3},
  {'Run': 662, 'Time': 125.5},
  {'Run': 663, 'Time': 125.7},
  {'Run': 664, 'Time': 125.9},
  {'Run': 665, 'Time': 126.1},
  {'Run': 666, 'Time': 126.2},
  {'Run': 667, 'Time': 126.4},
  {'Run': 668, 'Time': 126.6},
  {'Run': 669, 'Time': 126.8},
  {'Run': 670, 'Time': 126.9},
  {'Run': 671, 'Time': 127.1},

# Evaluation - KID score

In [15]:
def get_evaluation(base_url, token, embryo_id):
    """
    Retrieve evaluation data for a given EmbryoID from the API.

    Args:
        base_url (str): The base URL of the API.
        token (str): The API authentication token.
        embryo_id (str): The EmbryoID.

    Returns:
        dict or None: The JSON response containing evaluation data, or None if request fails.
    """
    url = f"{base_url}/GET/evaluation"
    params = {'EmbryoID': embryo_id}
    headers = {'API-token': token}

    try:
        response = requests.get(url, headers=headers, params=params, verify=False)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error fetching evaluation: {e}")
        return None

In [16]:
get_evaluation(base_url, token, 'D2022.08.30_S01790_I3253_P-1')

{'Model': 'KIDScoreD5 v3',
 'Evaluation': '9.3',
 'User': 'ADMIN',
 'EvaluationDate': '2022.09.28'}

# Emrbyo Fate

In [17]:
def get_embryo_fate(base_url, token, embryo_id):
    """
    Retrieve embryo fate data for a given EmbryoID from the API.

    Args:
        base_url (str): The base URL of the API.
        token (str): The API authentication token.
        embryo_id (str): The EmbryoID.

    Returns:
        dict or None: The JSON response containing embryo fate data, or None if request fails.
    """
    url = f"{base_url}/GET/embryofate"
    params = {'EmbryoID': embryo_id}
    headers = {'API-token': token}

    try:
        response = requests.get(url, headers=headers, params=params, verify=False)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error fetching embryo fate: {e}")
        return None

In [18]:

# Example usage:
get_embryo_fate(base_url, token, 'D2022.08.30_S01790_I3253_P-1')

{'EmbryoFate': 'Freeze'}

# Embryo Details

In [19]:
def get_embryo_details(base_url, token, embryo_id):
    """
    Retrieve detailed embryo information for a given EmbryoID from the API.

    Args:
        base_url (str): The base URL of the API.
        token (str): The API authentication token.
        embryo_id (str): The EmbryoID.

    Returns:
        dict or None: The JSON response containing embryo details, or None if request fails.
    """
    url = f"{base_url}/GET/embryodetails"
    params = {'EmbryoID': embryo_id}
    headers = {'API-token': token}

    try:
        response = requests.get(url, headers=headers, params=params, verify=False)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error fetching embryo details: {e}")
        return None

In [20]:

# Example usage:
get_embryo_details(base_url, token, 'D2022.08.30_S01790_I3253_P-1')

{'InstrumentNumber': 3253,
 'Position': 4,
 'WellNumber': 1,
 'FertilizationTime': '2022.08.30 12:35:00',
 'FertilizationMethod': 'ICSI',
 'EmbryoFate': 'Freeze',
 'EmbryoDescriptionID': 'AA1'}

# Embryo Data

In [21]:
def get_embryo_data(base_url, token, patient_idx, treatment_name):
    """
    Retrieve embryo data for a given PatientIDx and TreatmentName from the API.

    Args:
        base_url (str): The base URL of the API.
        token (str): The API authentication token.
        patient_idx (str): The unique patient identifier.
        treatment_name (str): The treatment name.

    Returns:
        dict or None: The JSON response containing embryo data, or None if request fails.
    """
    url = f"{base_url}/GET/embryodata"
    params = {
        'PatientIDx': patient_idx,
        'TreatmentName': treatment_name
    }
    headers = {'API-token': token}

    try:
        response = requests.get(url, headers=headers, params=params, verify=False)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error fetching embryo data: {e}")
        return None

In [22]:
get_embryo_data(base_url, token, 'PC10T4L7_44803.5316606366', '2022 - 1449')

{'EmbryoDataList': [{'EmbryoID': 'D2022.08.30_S01790_I3253_P-1',
   'EmbryoDetails': {'InstrumentNumber': 3253,
    'Position': 4,
    'WellNumber': 1,
    'FertilizationTime': '2022.08.30 12:35:00',
    'FertilizationMethod': 'ICSI',
    'EmbryoFate': 'Freeze',
    'EmbryoDescriptionID': 'AA1'},
   'AnnotationList': [{'Name': 'tPB2',
     'Time': 3.6,
     'Value': '44803.6736659028',
     'Timestamp': '2022.08.30 16:10:04'},
    {'Name': 'tPNa',
     'Time': 4.6,
     'Value': '44803.716606875',
     'Timestamp': '2022.08.30 17:11:54'},
    {'Name': 'tPNf',
     'Time': 21.1,
     'Value': '44804.4042601157',
     'Timestamp': '2022.08.31 09:42:08'},
    {'Name': 't2',
     'Time': 23.3,
     'Value': '44804.4952783796',
     'Timestamp': '2022.08.31 11:53:12'},
    {'Name': 't3',
     'Time': 32.7,
     'Value': '44804.8883459607',
     'Timestamp': '2022.08.31 21:19:13'},
    {'Name': 't4',
     'Time': 32.9,
     'Value': '44804.895961331',
     'Timestamp': '2022.08.31 21:30:11'},
    {'Name': 't6',
     'Time': 44.4,
     'Value': '44805.375683669',
     'Timestamp': '2022.09.01 09:00:59'},
    {'Name': 't8',
     'Time': 44.8,
     'Value': '44805.3909136921',
     'Timestamp': '2022.09.01 09:22:54'},
    {'Name': 't9',
     'Time': 61,
     'Value': '44806.065962581',
     'Timestamp': '2022.09.02 01:34:59'},
    {'Name': 'tSC',
     'Time': 65.6,
     'Value': '44806.2561495486',
     'Timestamp': '2022.09.02 06:08:51'},
    {'Name': 'tM',
     'Time': 80.7,
     'Value': '44806.8870579167',
     'Timestamp': '2022.09.02 21:17:21'},
    {'Name': 'tSB',
     'Time': 84.5,
     'Value': '44807.0467290741',
     'Timestamp': '2022.09.03 01:07:17'},
    {'Name': 'Line',
     'Time': 94.7,
     'Value': '13',
     'Timestamp': '2022.09.03 11:15:32'},
    {'Name': 'tB',
     'Time': 94.7,
     'Value': '44807.4691203935',
     'Timestamp': '2022.09.03 11:15:32'},
    {'Name': 'Line',
     'Time': 98.4,
     'Value': '6',
     'Timestamp': '2022.09.03 14:58:57'},
    {'Name': 'tEB',
     'Time': 98.4,
     'Value': '44807.6242750926',
     'Timestamp': '2022.09.03 14:58:57'},
    {'Name': 'tHB',
     'Time': 102.8,
     'Value': '44807.8094604977',
     'Timestamp': '2022.09.03 19:25:37'},
    {'Name': 'ICM',
     'Time': 117.9,
     'Value': 'A',
     'Timestamp': '2022.09.04 10:27:16'},
    {'Name': 'TE',
     'Time': 117.9,
     'Value': 'A',
     'Timestamp': '2022.09.04 10:27:16'},
    {'Name': 'MorphologicalGrade',
     'Time': 117.9,
     'Value': 'B5AA',
     'Timestamp': '2022.09.04 10:27:16'},
    {'Name': 'EVEN2',
     'Time': 30.7,
     'Value': 'Even',
     'Timestamp': '2022.08.31 19:18:35'},
    {'Name': 'EVEN4',
     'Time': 36.6,
     'Value': 'Even',
     'Timestamp': '2022.09.01 01:09:29'},
    {'Name': 'EVEN8',
     'Time': 47.9,
     'Value': 'Even',
     'Timestamp': '2022.09.01 12:27:42'},
    {'Name': 'Nuclei2',
     'Time': 30.7,
     'Value': '0',
     'Timestamp': '2022.08.31 19:18:35'},
    {'Name': 'FRAG2',
     'Time': 30.7,
     'Value': '5',
     'Timestamp': '2022.08.31 19:18:35'},
    {'Name': 'FRAG4',
     'Time': 36.6,
     'Value': '5',
     'Timestamp': '2022.09.01 01:09:29'},
    {'Name': 'FRAG8',
     'Time': 47.9,
     'Value': '5',
     'Timestamp': '2022.09.01 12:27:42'},
    {'Name': 'PN',
     'Time': 17.8,
     'Value': '2',
     'Timestamp': '2022.08.31 06:21:23'}],
   'Evaluation': {'Model': 'KIDScoreD5 v3',
    'Evaluation': '9.3',
    'User': 'ADMIN',
    'EvaluationDate': '2022.09.28'}},
  {'EmbryoID': 'D2022.08.30_S01790_I3253_P-2',
   'EmbryoDetails': {'InstrumentNumber': 3253,
    'Position': 4,
    'WellNumber': 2,
    'FertilizationTime': '2022.08.30 12:35:00',
    'FertilizationMethod': 'ICSI',
    'EmbryoFate': 'Freeze',
    'EmbryoDescriptionID': 'AA2'},
   'AnnotationList': [{'Name': 'tPB2',
     'Time': 4.8,
     'Value': '44803.7249174537',
     'Timestamp': '2022.08.30 17:23:52'},
    {'Name': 'tPNa',
     'Time': 6.6,
     'Value': '44803.7978856597',
     'Timestamp': '2022.08.30 19:08:57'},
    {'Name': 'tPNf',
     'Time': 22.4,
     'Value': '44804.458588206',
     'Timestamp': '2022.08.31 11:00:22'},
    {'Name': 't2',
     'Time': 24.7,
     'Value': '44804.552341169',
     'Timestamp': '2022.08.31 13:15:22'},
    {'Name': 't3',
     'Time': 35.8,
     'Value': '44805.017843206',
     'Timestamp': '2022.09.01 00:25:41'},
    {'Name': 't4',
     'Time': 36,
     'Value': '44805.0254573148',
     'Timestamp': '2022.09.01 00:36:39'},
    {'Name': 't5',
     'Time': 48.2,
     'Value': '44805.5323839236',
     'Timestamp': '2022.09.01 12:46:37'},
    {'Name': 't6',
     'Time': 48.9,
     'Value': '44805.5598369213',
     'Timestamp': '2022.09.01 13:26:09'},
    {'Name': 't7',
     'Time': 49.2,
     'Value': '44805.5750525694',
     'Timestamp': '2022.09.01 13:48:04'},
    {'Name': 't8',
     'Time': 49.8,
     'Value': '44805.6004702546',
     'Timestamp': '2022.09.01 14:24:40'},
    {'Name': 't9',
     'Time': 64.7,
     'Value': '44806.2181539815',
     'Timestamp': '2022.09.02 05:14:08'},
    {'Name': 'tSC',
     'Time': 67.8,
     'Value': '44806.3474867014',
     'Timestamp': '2022.09.02 08:20:22'},
    {'Name': 'tM',
     'Time': 84.9,
     'Value': '44807.0619780903',
     'Timestamp': '2022.09.03 01:29:14'},
    {'Name': 'tSB',
     'Time': 96.4,
     'Value': '44807.5394403588',
     'Timestamp': '2022.09.03 12:56:47'},
    {'Name': 'Line',
     'Time': 99.1,
     'Value': '13',
     'Timestamp': '2022.09.03 15:43:27'},
    {'Name': 'tB',
     'Time': 99.1,
     'Value': '44807.6551823032',
     'Timestamp': '2022.09.03 15:43:27'},
    {'Name': 'Line',
     'Time': 104.3,
     'Value': '6',
     'Timestamp': '2022.09.03 20:54:34'},
    {'Name': 'tEB',
     'Time': 104.3,
     'Value': '44807.8712335301',
     'Timestamp': '2022.09.03 20:54:34'},
    {'Name': 'tHB',
     'Time': 106.2,
     'Value': '44807.9483926505',
     'Timestamp': '2022.09.03 22:45:41'},
    {'Name': 'ICM',
     'Time': 117.9,
     'Value': 'A',
     'Timestamp': '2022.09.04 10:27:20'},
    {'Name': 'TE',
     'Time': 117.9,
     'Value': 'A',
     'Timestamp': '2022.09.04 10:27:20'},
    {'Name': 'MorphologicalGrade',
     'Time': 117.9,
     'Value': 'B5AA',
     'Timestamp': '2022.09.04 10:27:20'},
    {'Name': 'EVEN2',
     'Time': 33.3,
     'Value': 'Even',
     'Timestamp': '2022.08.31 21:52:10'},
    {'Name': 'EVEN4',
     'Time': 36,
     'Value': 'Even',
     'Timestamp': '2022.09.01 00:36:39'},
    {'Name': 'EVEN8',
     'Time': 49.8,
     'Value': 'Even',
     'Timestamp': '2022.09.01 14:24:40'},
    {'Name': 'Nuclei2',
     'Time': 33.3,
     'Value': '0',
     'Timestamp': '2022.08.31 21:52:10'},
    {'Name': 'FRAG2',
     'Time': 33.3,
     'Value': '5',
     'Timestamp': '2022.08.31 21:52:10'},
    {'Name': 'FRAG4',
     'Time': 36,
     'Value': '5',
     'Timestamp': '2022.09.01 00:36:39'},
    {'Name': 'FRAG8',
     'Time': 49.8,
     'Value': '5',
     'Timestamp': '2022.09.01 14:24:40'},
    {'Name': 'PN',
     'Time': 17.8,
     'Value': '2',
     'Timestamp': '2022.08.31 06:21:27'}],
   'Evaluation': {'Model': 'KIDScoreD5 v3',
    'Evaluation': '8.9',
    'User': 'ADMIN',
    'EvaluationDate': '2022.09.28'}},
  {'EmbryoID': 'D2022.08.30_S01790_I3253_P-3',
   'EmbryoDetails': {'InstrumentNumber': 3253,
    'Position': 4,
    'WellNumber': 3,
    'FertilizationTime': '2022.08.30 12:35:00',
    'FertilizationMethod': 'ICSI',
    'EmbryoFate': 'Avoid',
    'EmbryoDescriptionID': 'AA3'},
   'Evaluation': {'Model': 'KIDScoreD5 v3',
    'Evaluation': 'NA',
    'User': 'ADMIN',
    'EvaluationDate': '2022.09.28'}},
  {'EmbryoID': 'D2022.08.30_S01790_I3253_P-4',
   'EmbryoDetails': {'InstrumentNumber': 3253,
    'Position': 4,
    'WellNumber': 4,
    'FertilizationTime': '2022.08.30 12:35:00',
    'FertilizationMethod': 'ICSI',
    'EmbryoFate': 'Freeze',
    'EmbryoDescriptionID': 'AA4'},
   'AnnotationList': [{'Name': 'tPB2',
     'Time': 5.3,
     'Value': '44803.7468952199',
     'Timestamp': '2022.08.30 17:55:31'},
    {'Name': 'tPNa',
     'Time': 8,
     'Value': '44803.8563513194',
     'Timestamp': '2022.08.30 20:33:08'},
    {'Name': 'tPNf',
     'Time': 25.8,
     'Value': '44804.5991036111',
     'Timestamp': '2022.08.31 14:22:42'},
    {'Name': 't2',
     'Time': 28.2,
     'Value': '44804.6981012153',
     'Timestamp': '2022.08.31 16:45:15'},
    {'Name': 't3',
     'Time': 39.1,
     'Value': '44805.1549964815',
     'Timestamp': '2022.09.01 03:43:11'},
    {'Name': 't4',
     'Time': 39.9,
     'Value': '44805.1854529167',
     'Timestamp': '2022.09.01 04:27:03'},
    {'Name': 't5',
     'Time': 52.6,
     'Value': '44805.7161429051',
     'Timestamp': '2022.09.01 17:11:14'},
    {'Name': 't7',
     'Time': 53,
     'Value': '44805.7313591782',
     'Timestamp': '2022.09.01 17:33:09'},
    {'Name': 't8',
     'Time': 53.5,
     'Value': '44805.7541793519',
     'Timestamp': '2022.09.01 18:06:01'},
    {'Name': 't9',
     'Time': 71.3,
     'Value': '44806.495951794',
     'Timestamp': '2022.09.02 11:54:10'},
    {'Name': 'tSC',
     'Time': 74.4,
     'Value': '44806.6250493981',
     'Timestamp': '2022.09.02 15:00:04'},
    {'Name': 'tM',
     'Time': 87.8,
     'Value': '44807.1837182292',
     'Timestamp': '2022.09.03 04:24:33'},
    {'Name': 'tSB',
     'Time': 94.3,
     'Value': '44807.4540453588',
     'Timestamp': '2022.09.03 10:53:49'},
    {'Name': 'Line',
     'Time': 101.7,
     'Value': '12',
     'Timestamp': '2022.09.03 18:19:08'},
    {'Name': 'tB',
     'Time': 101.7,
     'Value': '44807.7632955787',
     'Timestamp': '2022.09.03 18:19:08'},
    {'Name': 'Line',
     'Time': 108.6,
     'Value': '6',
     'Timestamp': '2022.09.04 01:10:15'},
    {'Name': 'tEB',
     'Time': 108.6,
     'Value': '44808.0487854745',
     'Timestamp': '2022.09.04 01:10:15'},
    {'Name': 'tHB',
     'Time': 112.1,
     'Value': '44808.1953957639',
     'Timestamp': '2022.09.04 04:41:22'},
    {'Name': 'ICM',
     'Time': 118.1,
     'Value': 'A',
     'Timestamp': '2022.09.04 10:38:34'},
    {'Name': 'TE',
     'Time': 118.1,
     'Value': 'A',
     'Timestamp': '2022.09.04 10:38:34'},
    {'Name': 'MorphologicalGrade',
     'Time': 118.1,
     'Value': 'B5AA',
     'Timestamp': '2022.09.04 10:38:34'},
    {'Name': 'EVEN2',
     'Time': 35.8,
     'Value': 'Even',
     'Timestamp': '2022.09.01 00:25:49'},
    {'Name': 'EVEN4',
     'Time': 46.8,
     'Value': 'Even',
     'Timestamp': '2022.09.01 11:20:23'},
    {'Name': 'EVEN8',
     'Time': 56.3,
     'Value': 'Even',
     'Timestamp': '2022.09.01 20:50:20'},
    {'Name': 'Nuclei2',
     'Time': 35.8,
     'Value': '1',
     'Timestamp': '2022.09.01 00:25:49'},
    {'Name': 'FRAG2',
     'Time': 35.8,
     'Value': '15',
     'Timestamp': '2022.09.01 00:25:49'},
    {'Name': 'FRAG4',
     'Time': 46.8,
     'Value': '15',
     'Timestamp': '2022.09.01 11:20:23'},
    {'Name': 'FRAG8',
     'Time': 56.3,
     'Value': '15',
     'Timestamp': '2022.09.01 20:50:20'},
    {'Name': 'PN',
     'Time': 17.1,
     'Value': '2',
     'Timestamp': '2022.08.31 05:39:32'}],
   'Evaluation': {'Model': 'KIDScoreD5 v3',
    'Evaluation': '8.4',
    'User': 'ADMIN',
    'EvaluationDate': '2022.09.28'}},
  {'EmbryoID': 'D2022.08.30_S01790_I3253_P-5',
   'EmbryoDetails': {'InstrumentNumber': 3253,
    'Position': 4,
    'WellNumber': 5,
    'FertilizationTime': '2022.08.30 12:35:00',
    'FertilizationMethod': 'ICSI',
    'EmbryoFate': 'Avoid',
    'EmbryoDescriptionID': 'AA5'},
   'Evaluation': {'Model': 'KIDScoreD5 v3',
    'Evaluation': 'NA',
    'User': 'ADMIN',
    'EvaluationDate': '2022.09.28'}},
  {'EmbryoID': 'D2022.08.30_S01790_I3253_P-6',
   'EmbryoDetails': {'InstrumentNumber': 3253,
    'Position': 4,
    'WellNumber': 6,
    'FertilizationTime': '2022.08.30 12:35:00',
    'FertilizationMethod': 'ICSI',
    'EmbryoFate': 'Freeze',
    'EmbryoDescriptionID': 'AA6'},
   'AnnotationList': [{'Name': 'tPB2',
     'Time': 5.5,
     'Value': '44803.7542776505',
     'Timestamp': '2022.08.30 18:06:09'},
    {'Name': 'tPNa',
     'Time': 7.6,
     'Value': '44803.8418445255',
     'Timestamp': '2022.08.30 20:12:15'},
    {'Name': 'tPNf',
     'Time': 28.7,
     'Value': '44804.7210341435',
     'Timestamp': '2022.08.31 17:18:17'},
    {'Name': 't2',
     'Time': 30.9,
     'Value': '44804.8124126736',
     'Timestamp': '2022.08.31 19:29:52'},
    {'Name': 't4',
     'Time': 42.8,
     'Value': '44805.3073686458',
     'Timestamp': '2022.09.01 07:22:36'},
    {'Name': 't5',
     'Time': 56.4,
     'Value': '44805.8759905324',
     'Timestamp': '2022.09.01 21:01:25'},
    {'Name': 't6',
     'Time': 56.6,
     'Value': '44805.8835981366',
     'Timestamp': '2022.09.01 21:12:22'},
    {'Name': 't7',
     'Time': 57.7,
     'Value': '44805.929244537',
     'Timestamp': '2022.09.01 22:18:06'},
    {'Name': 't8',
     'Time': 59.4,
     'Value': '44805.9977127431',
     'Timestamp': '2022.09.01 23:56:42'},
    {'Name': 't9',
     'Time': 74.7,
     'Value': '44806.6363740856',
     'Timestamp': '2022.09.02 15:16:22'},
    {'Name': 'tSC',
     'Time': 78.5,
     'Value': '44806.7960396296',
     'Timestamp': '2022.09.02 19:06:17'},
    {'Name': 'tM',
     'Time': 91.8,
     'Value': '44807.3510662384',
     'Timestamp': '2022.09.03 08:25:32'},
    {'Name': 'tSB',
     'Time': 101.2,
     'Value': '44807.7402326157',
     'Timestamp': '2022.09.03 17:45:56'},
    {'Name': 'Line',
     'Time': 107.7,
     'Value': '13',
     'Timestamp': '2022.09.04 00:14:49'},
    {'Name': 'tB',
     'Time': 107.7,
     'Value': '44808.0102948958',
     'Timestamp': '2022.09.04 00:14:49'},
    {'Name': 'Line',
     'Time': 114,
     'Value': '6',
     'Timestamp': '2022.09.04 06:32:36'},
    {'Name': 'tEB',
     'Time': 114,
     'Value': '44808.2726443171',
     'Timestamp': '2022.09.04 06:32:36'},
    {'Name': 'ICM',
     'Time': 118.1,
     'Value': 'B',
     'Timestamp': '2022.09.04 10:38:42'},
    {'Name': 'TE',
     'Time': 118.1,
     'Value': 'A',
     'Timestamp': '2022.09.04 10:38:42'},
    {'Name': 'MorphologicalGrade',
     'Time': 118.1,
     'Value': 'B4BA',
     'Timestamp': '2022.09.04 10:38:42'},
    {'Name': 'EVEN2',
     'Time': 38.8,
     'Value': 'Even',
     'Timestamp': '2022.09.01 03:21:23'},
    {'Name': 'EVEN4',
     'Time': 47.2,
     'Value': 'Even',
     'Timestamp': '2022.09.01 11:47:32'},
    {'Name': 'EVEN8',
     'Time': 62.3,
     'Value': 'Even',
     'Timestamp': '2022.09.02 02:51:58'},
    {'Name': 'Nuclei2',
     'Time': 38.8,
     'Value': '2',
     'Timestamp': '2022.09.01 03:21:23'},
    {'Name': 'FRAG2',
     'Time': 38.8,
     'Value': '5',
     'Timestamp': '2022.09.01 03:21:23'},
    {'Name': 'FRAG4',
     'Time': 47.2,
     'Value': '5',
     'Timestamp': '2022.09.01 11:47:32'},
    {'Name': 'FRAG8',
     'Time': 62.3,
     'Value': '15',
     'Timestamp': '2022.09.02 02:51:58'},
    {'Name': 'PN',
     'Time': 17.8,
     'Value': '2',
     'Timestamp': '2022.08.31 06:21:42'}],
   'Evaluation': {'Model': 'KIDScoreD5 v3',
    'Evaluation': '7.8',
    'User': 'ADMIN',
    'EvaluationDate': '2022.09.28'}},
  {'EmbryoID': 'D2022.08.30_S01790_I3253_P-7',
   'EmbryoDetails': {'InstrumentNumber': 3253,
    'Position': 4,
    'WellNumber': 7,
    'FertilizationTime': '2022.08.30 12:35:00',
    'FertilizationMethod': 'ICSI',
    'EmbryoFate': 'Freeze',
    'EmbryoDescriptionID': 'AA7'},
   'AnnotationList': [{'Name': 'tPB2',
     'Time': 4.8,
     'Value': '44803.7251351968',
     'Timestamp': '2022.08.30 17:24:11'},
    {'Name': 'tPNa',
     'Time': 6.6,
     'Value': '44803.7981021412',
     'Timestamp': '2022.08.30 19:09:16'},
    {'Name': 'tPNf',
     'Time': 25.8,
     'Value': '44804.5992332755',
     'Timestamp': '2022.08.31 14:22:53'},
    {'Name': 't2',
     'Time': 28,
     'Value': '44804.6906148843',
     'Timestamp': '2022.08.31 16:34:29'},
    {'Name': 't3',
     'Time': 38.8,
     'Value': '44805.1398962153',
     'Timestamp': '2022.09.01 03:21:27'},
    {'Name': 't4',
     'Time': 39.7,
     'Value': '44805.1779684838',
     'Timestamp': '2022.09.01 04:16:16'},
    {'Name': 't5',
     'Time': 50.4,
     'Value': '44805.6249846412',
     'Timestamp': '2022.09.01 14:59:58'},
    {'Name': 't7',
     'Time': 50.8,
     'Value': '44805.6401974884',
     'Timestamp': '2022.09.01 15:21:53'},
    {'Name': 't8',
     'Time': 51.1,
     'Value': '44805.6554136921',
     'Timestamp': '2022.09.01 15:43:47'},
    {'Name': 't9',
     'Time': 63.2,
     'Value': '44806.1575103009',
     'Timestamp': '2022.09.02 03:46:48'},
    {'Name': 'tSC',
     'Time': 68.3,
     'Value': '44806.3705282407',
     'Timestamp': '2022.09.02 08:53:33'},
    {'Name': 'tM',
     'Time': 85.6,
     'Value': '44807.0926105903',
     'Timestamp': '2022.09.03 02:13:21'},
    {'Name': 'tSB',
     'Time': 100.3,
     'Value': '44807.7016991551',
     'Timestamp': '2022.09.03 16:50:26'},
    {'Name': 'Line',
     'Time': 104,
     'Value': '12',
     'Timestamp': '2022.09.03 20:32:39'},
    {'Name': 'tB',
     'Time': 104,
     'Value': '44807.8560182292',
     'Timestamp': '2022.09.03 20:32:39'},
    {'Name': 'Comment',
     'Time': 106,
     'Value': 'Pulsing: Yes',
     'Timestamp': '2022.09.03 22:34:53'},
    {'Name': 'Line',
     'Time': 111.4,
     'Value': '6',
     'Timestamp': '2022.09.04 03:57:06'},
    {'Name': 'tEB',
     'Time': 111.4,
     'Value': '44808.1646637963',
     'Timestamp': '2022.09.04 03:57:06'},
    {'Name': 'ICM',
     'Time': 118.1,
     'Value': 'A',
     'Timestamp': '2022.09.04 10:38:45'},
    {'Name': 'TE',
     'Time': 118.1,
     'Value': 'A',
     'Timestamp': '2022.09.04 10:38:45'},
    {'Name': 'MorphologicalGrade',
     'Time': 118.1,
     'Value': 'B3AA',
     'Timestamp': '2022.09.04 10:38:45'},
    {'Name': 'EVEN2',
     'Time': 36.2,
     'Value': 'Even',
     'Timestamp': '2022.09.01 00:47:56'},
    {'Name': 'EVEN4',
     'Time': 46.1,
     'Value': 'Even',
     'Timestamp': '2022.09.01 10:40:02'},
    {'Name': 'EVEN8',
     'Time': 55,
     'Value': 'Even',
     'Timestamp': '2022.09.01 19:33:50'},
    {'Name': 'Nuclei2',
     'Time': 35.1,
     'Value': '1',
     'Timestamp': '2022.08.31 23:42:08'},
    {'Name': 'FRAG2',
     'Time': 35.1,
     'Value': '5',
     'Timestamp': '2022.08.31 23:42:08'},
    {'Name': 'FRAG4',
     'Time': 46.1,
     'Value': '15',
     'Timestamp': '2022.09.01 10:40:02'},
    {'Name': 'FRAG8',
     'Time': 55,
     'Value': '15',
     'Timestamp': '2022.09.01 19:33:50'},
    {'Name': 'PN',
     'Time': 17.3,
     'Value': '2',
     'Timestamp': '2022.08.31 05:50:14'}],
   'Evaluation': {'Model': 'KIDScoreD5 v3',
    'Evaluation': '8.3',
    'User': 'ADMIN',
    'EvaluationDate': '2022.09.28'}},
  {'EmbryoID': 'D2022.08.30_S01790_I3253_P-8',
   'EmbryoDetails': {'InstrumentNumber': 3253,
    'Position': 4,
    'WellNumber': 8,
    'FertilizationTime': '2022.08.30 12:35:00',
    'FertilizationMethod': 'ICSI',
    'EmbryoFate': 'Avoid',
    'EmbryoDescriptionID': 'AA8'},
   'Evaluation': {'Model': 'KIDScoreD5 v3',
    'Evaluation': 'NA',
    'User': 'ADMIN',
    'EvaluationDate': '2022.09.28'}},
  {'EmbryoID': 'D2022.08.30_S01790_I3253_P-9',
   'EmbryoDetails': {'InstrumentNumber': 3253,
    'Position': 4,
    'WellNumber': 9,
    'FertilizationTime': '2022.08.30 12:35:00',
    'FertilizationMethod': 'ICSI',
    'EmbryoFate': 'Avoid',
    'EmbryoDescriptionID': 'AA9'},
   'Evaluation': {'Model': 'KIDScoreD5 v3',
    'Evaluation': 'NA',
    'User': 'ADMIN',
    'EvaluationDate': '2022.09.28'}},
  {'EmbryoID': 'D2022.08.30_S01790_I3253_P-10',
   'EmbryoDetails': {'InstrumentNumber': 3253,
    'Position': 4,
    'WellNumber': 10,
    'FertilizationTime': '2022.08.30 12:35:00',
    'FertilizationMethod': 'ICSI',
    'EmbryoFate': 'Freeze',
    'EmbryoDescriptionID': 'AA10'},
   'AnnotationList': [{'Name': 'tPB2',
     'Time': 2.1,
     'Value': '44803.6136386343',
     'Timestamp': '2022.08.30 14:43:38'},
    {'Name': 'tPNa',

# Transfer

In [23]:
def get_transfers(base_url, token, patient_idx):
    """
    Retrieve transfer data for a given PatientIDx from the API.

    Args:
        base_url (str): The base URL of the API.
        token (str): The API authentication token.
        patient_idx (str): The unique patient identifier.

    Returns:
        dict or None: The JSON response containing transfer data, or None if request fails.
    """
    url = f"{base_url}/GET/transfers"
    params = {'PatientIDx': patient_idx}
    headers = {'API-token': token}

    try:
        response = requests.get(url, headers=headers, params=params, verify=False)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error fetching transfers: {e}")
        return None

In [24]:

# Example usage:
get_transfers(base_url, token, 'PC10T4L7_44803.5316606366')

Error fetching transfers: Expecting value: line 1 column 1 (char 0)

                       EmbryoID  Viability  Time Version            Timestamp
0  D2019.06.19_S00028_I3253_P-1       1.03   115   2.0.4  2024.04.30 07:55:37
1  D2019.06.19_S00028_I3253_P-2       1.05   115   2.0.4  2024.04.30 07:55:35
2  D2019.06.19_S00028_I3253_P-3       1.06   115   2.0.4  2024.04.30 07:55:33
3  D2019.06.19_S00028_I3253_P-4       1.01   115   2.0.4  2024.04.30 07:56:06
4  D2019.07.03_S00054_I3253_P-2       3.93   120   2.0.4  2024.05.28 15:20:00

In [ ]:
def get_idascore(base_url, token):
    """
    Retrieve IDASCORE data for a given EmbryoID from the API.

    Args:
        base_url (str): The base URL of the API.
        token (str): The API authentication token.
        embryo_id (str): The EmbryoID.

    Returns:
        dict or None: The JSON response containing IDASCORE data, or None if request fails.
    """
    url = f"{base_url}/GET/IDASCORE"
    headers = {'API-token': token}

    try:
        response = requests.get(url, headers=headers, verify=False)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error fetching IDASCORE: {e}")
        return None

In [ ]:
# Call the function to get IDASCORE data
idascore_data = get_idascore(base_url, token)

# Check if data was retrieved successfully and 'Scores' key exists
if idascore_data and 'Scores' in idascore_data:
    # Convert the 'Scores' list into a DataFrame
    df_idascore = pd.DataFrame(idascore_data['Scores'])
else:
    print("No IDASCORE data found or 'Scores' key missing in the response.")
    df_idascore = pd.DataFrame() # Create an empty DataFrame if no data

df_idascore.head()

                       EmbryoID  Viability  Time Version            Timestamp
0  D2019.06.19_S00028_I3253_P-1       1.03   115   2.0.4  2024.04.30 07:55:37
1  D2019.06.19_S00028_I3253_P-2       1.05   115   2.0.4  2024.04.30 07:55:35
2  D2019.06.19_S00028_I3253_P-3       1.06   115   2.0.4  2024.04.30 07:55:33
3  D2019.06.19_S00028_I3253_P-4       1.01   115   2.0.4  2024.04.30 07:56:06
4  D2019.07.03_S00054_I3253_P-2       3.93   120   2.0.4  2024.05.28 15:20:00

In [70]:
df_idascore.head()

                       EmbryoID  Viability  Time Version            Timestamp
0  D2019.06.19_S00028_I3253_P-1       1.03   115   2.0.4  2024.04.30 07:55:37
1  D2019.06.19_S00028_I3253_P-2       1.05   115   2.0.4  2024.04.30 07:55:35
2  D2019.06.19_S00028_I3253_P-3       1.06   115   2.0.4  2024.04.30 07:55:33
3  D2019.06.19_S00028_I3253_P-4       1.01   115   2.0.4  2024.04.30 07:56:06
4  D2019.07.03_S00054_I3253_P-2       3.93   120   2.0.4  2024.05.28 15:20:00

# Fluxo de um embryoscope

In [60]:
def rate_limited_request(func, *args, **kwargs):
    """Execute function with rate limiting (10 requests per second)"""
    time.sleep(0.1)  # 100ms delay to stay under 10 requests/second
    return func(*args, **kwargs)

def get_all_treatments_for_patients(df_patients, base_url, token):
    """Get all treatments for all patients"""
    all_treatments = []
    
    print(f"Processing {len(df_patients)} patients...")
    
    for idx, patient in df_patients.iterrows():
        patient_idx = patient['PatientIDx']
        print(f"Processing patient {idx+1}/{len(df_patients)}: {patient_idx}")
        
        # Get treatments with rate limiting
        treatments_data = rate_limited_request(get_treatments, base_url, token, patient_idx)

        if treatments_data and 'TreatmentList' in treatments_data:
            for treatment_name in treatments_data['TreatmentList']:
                # Create treatment record with patient reference
                treatment_record = {
                    'PatientIDx': patient_idx,
                    'TreatmentName': treatment_name
                }
                all_treatments.append(treatment_record)
    
    df_treatments = pd.DataFrame(all_treatments)
    print(f"Found {len(df_treatments)} treatments across all patients")
    return df_treatments

def get_all_embryo_data(df_treatments, base_url, token):
    """Get embryo data for all treatments and break down nested dictionaries into columns"""
    all_embryo_data = []
    
    print(f"Processing {len(df_treatments)} treatments...")
    
    for idx, treatment in df_treatments.iterrows():
        patient_idx = treatment['PatientIDx']
        treatment_name = treatment['TreatmentName']
        
        print(f"Processing treatment {idx+1}/{len(df_treatments)}: {treatment_name}")
        
        # Get embryo data with rate limiting
        embryo_data = rate_limited_request(get_embryo_data, base_url, token, patient_idx, treatment_name)
        
        if embryo_data and 'EmbryoDataList' in embryo_data:
            for embryo in embryo_data['EmbryoDataList']:
                # Start with basic embryo info
                embryo_record = {
                    'EmbryoID': embryo['EmbryoID'],
                    'PatientIDx': patient_idx,
                    'TreatmentName': treatment_name,
                    'AnnotationList': embryo.get('AnnotationList')
                }
                
                # Break down EmbryoDetails into separate columns
                if 'EmbryoDetails' in embryo and embryo['EmbryoDetails']:
                    details = embryo['EmbryoDetails']
                    embryo_record.update({
                        'InstrumentNumber': details.get('InstrumentNumber'),
                        'Position': details.get('Position'),
                        'WellNumber': details.get('WellNumber'),
                        'FertilizationTime': details.get('FertilizationTime'),
                        'EmbryoFate': details.get('EmbryoFate'),
                        'Description': details.get('Description'),
                        'EmbryoDescriptionID': details.get('EmbryoDescriptionID')
                    })
                
                # Break down Evaluation into separate columns
                if 'Evaluation' in embryo and embryo['Evaluation']:
                    evaluation = embryo['Evaluation']
                    embryo_record.update({
                        'EvaluationModel': evaluation.get('Model'),
                        'EvaluationScore': evaluation.get('Evaluation'),
                        'EvaluationUser': evaluation.get('User'),
                        'EvaluationDate': evaluation.get('EvaluationDate')
                    })
                
                all_embryo_data.append(embryo_record)
    
    df_embryo_data = pd.DataFrame(all_embryo_data)
    print(f"Found {len(df_embryo_data)} embryos across all treatments")
    return df_embryo_data

In [47]:
df_treatments = get_all_treatments_for_patients(df_patients.loc[2586:2590], base_url, token)
df_treatments

Processing 5 patients...
Processing patient 2587/5: PC1R85KM_45817.4796418750
{'TreatmentList': ['2025 - 987']}
Processing patient 2588/5: PC1R85KM_45772.5287441204
{'TreatmentList': ['2025  - 689', '2025 - 993']}
Processing patient 2589/5: PC1R85KM_45801.4523230440
{'TreatmentList': ['2025  - 881']}
Processing patient 2590/5: PC1R85KM_45818.4200686458
{'TreatmentList': ['2025-999']}
Processing patient 2591/5: PC1R85KM_45818.4773436690
{'TreatmentList': ['2025-998']}
Found 6 treatments across all patients

                  PatientIDx TreatmentName
0  PC1R85KM_45817.4796418750    2025 - 987
1  PC1R85KM_45772.5287441204   2025  - 689
2  PC1R85KM_45772.5287441204    2025 - 993
3  PC1R85KM_45801.4523230440   2025  - 881
4  PC1R85KM_45818.4200686458      2025-999
5  PC1R85KM_45818.4773436690      2025-998

In [61]:
df_embryo_data = get_all_embryo_data(df_treatments, base_url, token)
df_embryo_data

Processing 6 treatments...
Processing treatment 1/6: 2025 - 987
Processing treatment 2/6: 2025  - 689
Processing treatment 3/6: 2025 - 993
Processing treatment 4/6: 2025  - 881
Processing treatment 5/6: 2025-999
Error fetching embryo data: Expecting value: line 1 column 1 (char 0)
Processing treatment 6/6: 2025-998
Error fetching embryo data: Expecting value: line 1 column 1 (char 0)
Found 22 embryos across all treatments

,EmbryoID,PatientIDx,TreatmentName,AnnotationList,InstrumentNumber,Position,WellNumber,FertilizationTime,EmbryoFate,Description,EmbryoDescriptionID,EvaluationModel,EvaluationScore,EvaluationUser,EvaluationDate
0,D2025.06.09_S03568_I3253_P-1,PC1R85KM_45817.4796418750,2025 - 987,"[{'Name': 'PN', 'Time': 18.7, 'Value': '2', 'T...",3253,2,1,2025.06.09 11:30:00,Unknown,None,AA1,NaN,NaN,NaN,NaN
1,D2025.06.09_S03568_I3253_P-2,PC1R85KM_45817.4796418750,2025 - 987,None,3253,2,2,2025.06.09 11:30:00,Unknown,None,AA2,NaN,NaN,NaN,NaN
2,D2025.06.09_S03568_I3253_P-3,PC1R85KM_45817.4796418750,2025 - 987,None,3253,2,3,2025.06.09 11:30:00,Unknown,None,AA3,NaN,NaN,NaN,NaN
3,D2025.06.09_S03568_I3253_P-4,PC1R85KM_45817.4796418750,2025 - 987,None,3253,2,4,2025.06.09 11:30:00,Unknown,None,AA4,NaN,NaN,NaN,NaN
4,D2025.06.09_S03568_I3253_P-5,PC1R85KM_45817.4796418750,2025 - 987,"[{'Name': 'PN', 'Time': 20.2, 'Value': '2', 'T...",3253,2,5,2025.06.09 11:30:00,Unknown,None,AA5,NaN,NaN,NaN,NaN
5,D2025.06.09_S03568_I3253_P-6,PC1R85KM_45817.4796418750,2025 - 987,"[{'Name': 'PN', 'Time': 18.6, 'Value': '2', 'T...",3253,2,6,2025.06.09 11:30:00,Unknown,None,AA6,NaN,NaN,NaN,NaN
6,D2025.06.09_S03568_I3253_P-7,PC1R85KM_45817.4796418750,2025 - 987,None,3253,2,7,2025.06.09 11:30:00,Avoid,None,AA7,NaN,NaN,NaN,NaN
7,D2025.06.09_S03568_I3253_P-8,PC1R85KM_45817.4796418750,2025 - 987,"[{'Name': 'PN', 'Time': 18.7, 'Value': '2', 'T...",3253,2,8,2025.06.09 11:30:00,Unknown,None,AA8,NaN,NaN,NaN,NaN
8,D2025.06.09_S03568_I3253_P-9,PC1R85KM_45817.4796418750,2025 - 987,"[{'Name': 'PN', 'Time': 20.2, 'Value': '2', 'T...",3253,2,9,2025.06.09 11:30:00,Unknown,None,AA9,NaN,NaN,NaN,NaN
9,D2025.04.25_S03479_I3253_P-1,PC1R85KM_45772.5287441204,2025 - 689,"[{'Name': 'PN', 'Time': 16.7, 'Value': '2', 'T...",3253,2,1,2025.04.25 14:45:00,Avoid,None,AA1,NaN,NaN,NaN,NaN
10,D2025.06.09_S03571_I3253_P-1,PC1R85KM_45772.5287441204,2025 - 993,"[{'Name': 'PN', 'Time': 14.5, 'Value': '2', 'T...",3253,12,1,2025.06.09 17:00:00,Unknown,None,AB1,NaN,NaN,NaN,NaN
11,D2025.06.09_S03571_I3253_P-2,PC1R85KM_45772.5287441204,2025 - 993,"[{'Name': 'PN', 'Time': 15, 'Value': '2', 'Tim...",3253,12,2,2025.06.09 17:00:00,Unknown,None,AB2,NaN,NaN,NaN,NaN
12,D2025.06.09_S03571_I3253_P-3,PC1R85KM_45772.5287441204,2025 - 993,"[{'Name': 'PN', 'Time': 15, 'Value': '2', 'Tim...",3253,12,3,2025.06.09 17:00:00,Unknown,None,AB3,NaN,NaN,NaN,NaN
13,D2025.06.09_S03571_I3253_P-4,PC1R85KM_45772.5287441204,2025 - 993,"[{'Name': 'PN', 'Time': 0.2, 'Value': '4', 'Ti...",3253,12,4,2025.06.09 17:00:00,Avoid,None,AB4,NaN,NaN,NaN,NaN
14,D2025.06.09_S03571_I3253_P-5,PC1R85KM_45772.5287441204,2025 - 993,None,3253,12,5,2025.06.09 17:00:00,Unknown,None,AB5,NaN,NaN,NaN,NaN
15,D2025.06.09_S03571_I3253_P-6,PC1R85KM_45772.5287441204,2025 - 993,"[{'Name': 'PN', 'Time': 15, 'Value': '2', 'Tim...",3253,12,6,2025.06.09 17:00:00,Unknown,None,AB6,NaN,NaN,NaN,NaN
16,D2025.06.09_S03571_I3253_P-7,PC1R85KM_45772.5287441204,2025 - 993,"[{'Name': 'PN', 'Time': 15, 'Value': '2', 'Tim...",3253,12,7,2025.06.09 17:00:00,Unknown,None,AB7,NaN,NaN,NaN,NaN
17,D2025.06.09_S03571_I3253_P-8,PC1R85KM_45772.5287441204,2025 - 993,None,3253,12,8,2025.06.09 17:00:00,Unknown,None,AB8,NaN,NaN,NaN,NaN
18,D2025.06.09_S03571_I3253_P-9,PC1R85KM_45772.5287441204,2025 - 993,None,3253,12,9,2025.06.09 17:00:00,Unknown,None,AB9,NaN,NaN,NaN,NaN
19,D2025.05.24_S03537_I3253_P-1,PC1R85KM_45801.4523230440,2025 - 881,"[{'Name': 'PN', 'Time': 18, 'Value': '2', 'Tim...",3253,6,1,2025.05.24 11:50:00,Freeze,ALTERADO - MONOSSOMIA PARCIAL chr 8p XY,AA1,KIDScoreD5 v3.3,1.5,ADMIN,2025.05.29
20,D2025.05.24_S03537_I3253_P-2,PC1R85KM_45801.4523230440,2025 - 881,"[{'Name': 'PN', 'Time': 18.1, 'Value': '2', 'T...",3253,6,2,2025.05.24 11:50:00,Freeze,EUPLOIDE XX,AA2,KIDScoreD5 v3.3,9.4,ADMIN,2025.05.29
21,D2025.05.24_S03537_I3253_P-3,PC1R85KM_45801.4523230440,2025 - 881,"[{'Name': 'PN', 'Time': 18, 'Value': '2', 'Tim...",3253,6,3,2025.05.24 11:50:00,Freeze,EUPLOIDE XX,AA3,KIDScoreD5 v3.3,6.5,ADMIN,2025.05.29

In [57]:
df_embryo_data.loc[20, 'EmbryoDetails']

{'InstrumentNumber': 3253,
 'Position': 6,
 'WellNumber': 2,
 'FertilizationTime': '2025.05.24 11:50:00',
 'EmbryoFate': 'Freeze',
 'Description': 'EUPLOIDE XX',
 'EmbryoDescriptionID': 'AA2'}

In [58]:
df_embryo_data.loc[20, 'AnnotationList']

[{'Name': 'PN',
  'Time': 18.1,
  'Value': '2',
  'Timestamp': '2025.05.25 05:58:40'},
 {'Name': 'tPNf',
  'Time': 20.7,
  'Value': '45802.3573196875',
  'Timestamp': '2025.05.25 08:34:32'},
 {'Name': 't2',
  'Time': 23.5,
  'Value': '45802.4729064236',
  'Timestamp': '2025.05.25 11:20:59'},
 {'Name': 'FRAG2CAT',
  'Time': 27.9,
  'Value': '0-10%',
  'Timestamp': '2025.05.25 15:45:41'},
 {'Name': 'Nuclei2',
  'Time': 28.8,
  'Value': '2',
  'Timestamp': '2025.05.25 16:39:45'},
 {'Name': 'MN2Type',
  'Time': 28.8,
  'Value': 'Bi',
  'Timestamp': '2025.05.25 16:39:45'},
 {'Name': 't3',
  'Time': 34.2,
  'Value': '45802.9195690625',
  'Timestamp': '2025.05.25 22:04:10'},
 {'Name': 't4',
  'Time': 34.8,
  'Value': '45802.9420981713',
  'Timestamp': '2025.05.25 22:36:37'},
 {'Name': 't5',
  'Time': 46.2,
  'Value': '45803.4183484491',
  'Timestamp': '2025.05.26 10:02:25'},
 {'Name': 't8',
  'Time': 50.4,
  'Value': '45803.594766713',
  'Timestamp': '2025.05.26 14:16:27'},
 {'Name': 'tSB',
  'Time': 82.8,
  'Value': '45804.9427319444',
  'Timestamp': '2025.05.27 22:37:32'},
 {'Name': 'tB',
  'Time': 94.9,
  'Value': '45805.4456105787',
  'Timestamp': '2025.05.28 10:41:40'},
 {'Name': 'tEB',
  'Time': 96.9,
  'Value': '45805.5287361458',
  'Timestamp': '2025.05.28 12:41:22'},
 {'Name': 'tHB',
  'Time': 102.5,
  'Value': '45805.7619444444',
  'Timestamp': '2025.05.28 18:17:12'},
 {'Name': 'ICM',
  'Time': 112.7,
  'Value': 'A',
  'Timestamp': '2025.05.29 04:33:27'},
 {'Name': 'TE',
  'Time': 112.7,
  'Value': 'A',
  'Timestamp': '2025.05.29 04:33:27'},
 {'Name': 'BlastExpandLast',
  'Time': 115.4,
  'Value': '5',
  'Timestamp': '2025.05.29 07:15:06'},
 {'Name': 'Pulsing',
  'Time': 115.4,
  'Value': 'No',
  'Timestamp': '2025.05.29 07:15:06'},
 {'Name': 'Strings',
  'Time': 96.1,
  'Value': 'Yes',
  'Timestamp': '2025.05.28 11:58:58'}]

In [ ]:
def get_all_embryo_data(df_treatments, base_url, token):
    """Get embryo data for all treatments and break down nested dictionaries into columns"""
    all_embryo_data = []
    
    print(f"Processing {len(df_treatments)} treatments...")
    
    for idx, treatment in df_treatments.iterrows():
        patient_idx = treatment['PatientIDx']
        treatment_name = treatment['TreatmentName']
        
        print(f"Processing treatment {idx+1}/{len(df_treatments)}: {treatment_name}")
        
        # Get embryo data with rate limiting
        embryo_data = rate_limited_request(get_embryo_data, base_url, token, patient_idx, treatment_name)
        
        if embryo_data and 'EmbryoDataList' in embryo_data:
            for embryo in embryo_data['EmbryoDataList']:
                # Start with basic embryo info
                embryo_record = {
                    'EmbryoID': embryo['EmbryoID'],
                    'PatientIDx': patient_idx,
                    'TreatmentName': treatment_name,
                    'AnnotationList': embryo.get('AnnotationList')
                }
                
                # Break down EmbryoDetails into separate columns
                if 'EmbryoDetails' in embryo and embryo['EmbryoDetails']:
                    details = embryo['EmbryoDetails']
                    embryo_record.update({
                        'InstrumentNumber': details.get('InstrumentNumber'),
                        'Position': details.get('Position'),
                        'WellNumber': details.get('WellNumber'),
                        'FertilizationTime': details.get('FertilizationTime'),
                        'EmbryoFate': details.get('EmbryoFate'),
                        'Description': details.get('Description'),
                        'EmbryoDescriptionID': details.get('EmbryoDescriptionID')
                    })
                
                # Break down Evaluation into separate columns
                if 'Evaluation' in embryo and embryo['Evaluation']:
                    evaluation = embryo['Evaluation']
                    embryo_record.update({
                        'EvaluationModel': evaluation.get('Model'),
                        'EvaluationScore': evaluation.get('Evaluation'),
                        'EvaluationUser': evaluation.get('User'),
                        'EvaluationDate': evaluation.get('EvaluationDate')
                    })
                
                all_embryo_data.append(embryo_record)
    
    df_embryo_data = pd.DataFrame(all_embryo_data)
    print(f"Found {len(df_embryo_data)} embryos across all treatments")
    return df_embryo_data

In [59]:
df_embryo_data.loc[20, 'Evaluation']

{'Model': 'KIDScoreD5 v3.3',
 'Evaluation': '9.4',
 'User': 'ADMIN',
 'EvaluationDate': '2025.05.29'}

In [62]:
import os

# Create data_output folder if it doesn't exist
os.makedirs('data_output', exist_ok=True)

# Save dataframes to CSV files
timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")

# Save without timestamp
df_patients.to_csv('data_output/patients.csv', index=False, quoting=1)
df_treatments.to_csv('data_output/treatments.csv', index=False, quoting=1)
df_embryo_data.to_csv('data_output/embryo_data.csv', index=False, quoting=1)

# Save with timestamp
df_patients.to_csv(f'data_output/patients_{timestamp}.csv', index=False, quoting=1)
df_treatments.to_csv(f'data_output/treatments_{timestamp}.csv', index=False, quoting=1)
df_embryo_data.to_csv(f'data_output/embryo_data_{timestamp}.csv', index=False, quoting=1)

print(f"Files saved to data_output folder with timestamp: {timestamp}")

Files saved to data_output folder with timestamp: 20250610_134610

In [ ]:
# Execute the flux
print("=== Starting Data Collection Flux ===")
print(f"Start time: {datetime.now()}")

# Step 1: We already have patients in df_patients
print(f"\nStep 1: Patients loaded - {len(df_patients)} patients")

In [ ]:

# Step 2: Get all treatments
print("\nStep 2: Collecting treatments...")
df_treatments = get_all_treatments_for_patients(df_patients, base_url, token)

In [ ]:

# Step 3: Get all embryo data
print("\nStep 3: Collecting embryo data...")
df_embryo_data = get_all_embryo_data(df_treatments, base_url, token)

In [ ]:

print(f"\n=== Data Collection Complete ===")
print(f"End time: {datetime.now()}")
print(f"Total patients: {len(df_patients)}")
print(f"Total treatments: {len(df_treatments)}")
print(f"Total embryos: {len(df_embryo_data)}")

In [ ]:
# Merge df_final_merged with df_idascore on 'EmbryoID'
df_final_merged_with_idascore = pd.merge(df_final_merged, df_idascore, on='EmbryoID', how='left')

print("Shape of df_final_merged:", df_final_merged.shape)
print("Shape of df_idascore:", df_idascore.shape)
print("Shape of df_final_merged_with_idascore:", df_final_merged_with_idascore.shape)
df_final_merged_with_idascore.head()

In [89]:
# Merge df_patients with df_treatments on 'PatientIDx'
df_merged = pd.merge(df_patients, df_treatments, on='PatientIDx', how='left')

# Merge the result with df_embryo_data on 'PatientIDx' and 'TreatmentName'
df_final_merged = pd.merge(df_merged, df_embryo_data, on=['PatientIDx', 'TreatmentName'], how='left')

# Merge df_final_merged with df_idascore on 'EmbryoID'
df_final_merged_with_idascore = pd.merge(df_final_merged, df_idascore, on='EmbryoID', how='inner')

print("Shape of df_patients:", df_patients.shape)
print("Shape of df_treatments:", df_treatments.shape)
print("Shape of df_embryo_data:", df_embryo_data.shape)
print("Shape of df_final_merged:", df_final_merged.shape)
print("Shape of df_idascore:", df_idascore.shape)
print("Shape of df_final_merged_with_idascore:", df_final_merged_with_idascore.shape)

df_final_merged_with_idascore.tail()

Shape of df_patients: (2591, 5)
Shape of df_treatments: (6, 2)
Shape of df_embryo_data: (22, 15)
Shape of df_final_merged: (2610, 19)
Shape of df_idascore: (9290, 5)
Shape of df_final_merged_with_idascore: (0, 23)

Empty DataFrame
Columns: [PatientIDx, PatientID, FirstName, LastName, DateOfBirth, TreatmentName, EmbryoID, AnnotationList, InstrumentNumber, Position, WellNumber, FertilizationTime, EmbryoFate, Description, EmbryoDescriptionID, EvaluationModel, EvaluationScore, EvaluationUser, EvaluationDate, Viability, Time, Version, Timestamp]
Index: []

[0 rows x 23 columns]

In [74]:
df_idascore

,EmbryoID,Viability,Time,Version,Timestamp
0,D2019.06.19_S00028_I3253_P-1,1.03,115,2.0.4,2024.04.30 07:55:37
1,D2019.06.19_S00028_I3253_P-2,1.05,115,2.0.4,2024.04.30 07:55:35
2,D2019.06.19_S00028_I3253_P-3,1.06,115,2.0.4,2024.04.30 07:55:33
3,D2019.06.19_S00028_I3253_P-4,1.01,115,2.0.4,2024.04.30 07:56:06
4,D2019.07.03_S00054_I3253_P-2,3.93,120,2.0.4,2024.05.28 15:20:00
...,...,...,...,...,...
9285,D2025.05.31_S03548_I3253_P-2,4.78,120,2.0.5,2025.06.05 10:48:38
9286,D2025.05.31_S03548_I3253_P-3,4.70,120,2.0.5,2025.06.05 10:48:38
9287,D2025.05.31_S03548_I3253_P-4,1.04,120,2.0.5,2025.06.05 10:48:39
9288,D2025.05.31_S03548_I3253_P-5,4.71,120,2.0.5,2025.06.05 10:48:39
9289,D2025.05.31_S03548_I3253_P-6,7.30,120,2.0.5,2025.06.05 10:48:38

In [120]:
df_embryo_data[df_embryo_data['EmbryoID'].fillna('').str.contains('D2025.05.13')]

Empty DataFrame
Columns: [EmbryoID, PatientIDx, TreatmentName, AnnotationList, InstrumentNumber, Position, WellNumber, FertilizationTime, EmbryoFate, Description, EmbryoDescriptionID, EvaluationModel, EvaluationScore, EvaluationUser, EvaluationDate]
Index: []

In [121]:
df_embryo_data['EmbryoID'].values

array(['D2025.06.09_S03568_I3253_P-1', 'D2025.06.09_S03568_I3253_P-2',
       'D2025.06.09_S03568_I3253_P-3', 'D2025.06.09_S03568_I3253_P-4',
       'D2025.06.09_S03568_I3253_P-5', 'D2025.06.09_S03568_I3253_P-6',
       'D2025.06.09_S03568_I3253_P-7', 'D2025.06.09_S03568_I3253_P-8',
       'D2025.06.09_S03568_I3253_P-9', 'D2025.04.25_S03479_I3253_P-1',
       'D2025.06.09_S03571_I3253_P-1', 'D2025.06.09_S03571_I3253_P-2',
       'D2025.06.09_S03571_I3253_P-3', 'D2025.06.09_S03571_I3253_P-4',
       'D2025.06.09_S03571_I3253_P-5', 'D2025.06.09_S03571_I3253_P-6',
       'D2025.06.09_S03571_I3253_P-7', 'D2025.06.09_S03571_I3253_P-8',
       'D2025.06.09_S03571_I3253_P-9', 'D2025.05.24_S03537_I3253_P-1',
       'D2025.05.24_S03537_I3253_P-2', 'D2025.05.24_S03537_I3253_P-3'],
      dtype=object)

In [122]:
df_idascore['EmbryoID'].values

array(['D2019.06.19_S00028_I3253_P-1', 'D2019.06.19_S00028_I3253_P-2',
       'D2019.06.19_S00028_I3253_P-3', ...,
       'D2025.05.31_S03548_I3253_P-4', 'D2025.05.31_S03548_I3253_P-5',
       'D2025.05.31_S03548_I3253_P-6'], dtype=object)

In [109]:
df_idascore[df_idascore['EmbryoID'].fillna('').str.contains('D2025.05.24')]

Empty DataFrame
Columns: [EmbryoID, Viability, Time, Version, Timestamp]
Index: []