In [16]:
#!/usr/bin/env python3
"""
Patient Timeline Creator
Creates a comprehensive timeline for patients by combining data from multiple tables.
"""

import pandas as pd
import duckdb as db
import os
from datetime import datetime
from typing import Dict, List, Tuple, Optional

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [17]:

def get_database_connection():
    """Create and return a connection to the clinisys_all database"""
    path_to_db = '../../database/huntington_data_lake.duckdb'
    conn = db.connect(path_to_db, read_only=True)
    
    print(f"Connected to database: {path_to_db}")
    print(f"Database file exists: {os.path.exists(path_to_db)}")
    
    return conn

def extract_timeline_data_for_patient(conn, test_prontuario):
    """Extract timeline data for a specific patient"""
    query = f"""
        SELECT * FROM gold.all_patients_timeline
        WHERE prontuario = {test_prontuario}
    """
    return conn.execute(query).fetchdf()

def get_finops_data(conn, test_prontuario):
    """Get finops data for a specific patient"""
    query = f"""
        SELECT * FROM gold.finops_summary
        WHERE prontuario = {test_prontuario}
    """
    return conn.execute(query).fetchdf()

def main(test_prontuario):
    """Main function to create patient timeline"""
    
    # Test with a single patient first
    # test_prontuario = 175583
    
    print(f"Creating timeline for patient: {test_prontuario}")
    
    # Get database connection
    conn = get_database_connection()
    
    try:
        # Extract timeline data
        timeline_df = extract_timeline_data_for_patient(conn, test_prontuario)
       
        finops_df = get_finops_data(conn, test_prontuario)
        return timeline_df, finops_df
        
    finally:
        conn.close()

In [25]:
if __name__ == "__main__":
    patient_id = 876_950
    # patient_id = 825_890 # Claudia
    # patient_id = 175_583 # Renata
    # patient_id = 220_783 # caso cabelud0:: - 26 tentativas
    # patient_id = 182_925 # caso completo
    timeline_df, finops_df = main(patient_id)

Creating timeline for patient: 876950
Connected to database: ../../database/huntington_data_lake.duckdb
Database file exists: True

In [26]:
timeline_df

,prontuario,event_id,event_date,reference,reference_value,tentativa,unidade,resultado_tratamento,flag_date_estimated,additional_info
0,876950.0,29702,2025-08-02,congelamentos_embrioes,2519/25,None,<NA>,None,False,"{""NEmbrioes"": ""6"", ""Unidade"": ""1""}"
1,876950.0,36091,2025-07-28,tratamentos,Ciclo a Fresco FIV,1,15,No transfer,False,{}
2,876950.0,14430,2025-07-28,congelamentos_ovulos,2519/25,None,<NA>,None,False,"{""NOvulos"": ""8"", ""Unidade"": ""1""}"
3,876950.0,1452668,2025-07-28,extrato_atendimentos,Coleta Seminal: FIV,None,<NA>,None,False,{}
4,876950.0,1452499,2025-07-28,extrato_atendimentos,Aspiração Folicular: FIV,None,<NA>,None,False,{}
5,876950.0,1450815,2025-07-25,extrato_atendimentos,4º US Ciclo,None,<NA>,None,False,{}
6,876950.0,1449231,2025-07-23,extrato_atendimentos,3º US Ciclo,None,<NA>,None,False,{}
7,876950.0,1446535,2025-07-21,extrato_atendimentos,2º US Ciclo,None,<NA>,None,False,{}
8,876950.0,1445481,2025-07-16,extrato_atendimentos,1° US Ciclo,None,<NA>,None,False,{}
9,876950.0,1414937,2025-06-13,extrato_atendimentos,Retorno de Reprodução Humana,None,<NA>,None,False,{}
10,876950.0,1353488,2025-03-28,extrato_atendimentos,1ª Consulta de Reprodução Humana,None,<NA>,None,False,{}

In [27]:
finops_df

   prontuario  cycle_with_transfer  cycle_without_transfer
0    876950.0                    0                       1

In [21]:
timeline_df.loc[5, 'additional_info']

'{}'