In [1]:
#!/usr/bin/env python3
"""
Patient Timeline Creator
Creates a comprehensive timeline for patients by combining data from multiple tables.
"""

import pandas as pd
import duckdb as db
import os
from datetime import datetime
from typing import Dict, List, Tuple, Optional

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:

def get_database_connection():
    """Create and return a connection to the clinisys_all database"""
    path_to_db = '../../database/huntington_data_lake.duckdb'
    conn = db.connect(path_to_db, read_only=True)
    
    print(f"Connected to database: {path_to_db}")
    print(f"Database file exists: {os.path.exists(path_to_db)}")
    
    return conn

def extract_timeline_data_for_patient(conn, test_prontuario):
    """Extract timeline data for a specific patient"""
    query = f"""
        SELECT * FROM gold.all_patients_timeline
        WHERE prontuario = {test_prontuario}
    """
    return conn.execute(query).fetchdf()

def get_finops_data(conn, test_prontuario):
    """Get finops data for a specific patient"""
    query = f"""
        SELECT * FROM gold.finops_summary
        WHERE prontuario = {test_prontuario}
    """
    return conn.execute(query).fetchdf()

def main(test_prontuario):
    """Main function to create patient timeline"""
    
    # Test with a single patient first
    # test_prontuario = 175583
    
    print(f"Creating timeline for patient: {test_prontuario}")
    
    # Get database connection
    conn = get_database_connection()
    
    try:
        # Extract timeline data
        timeline_df = extract_timeline_data_for_patient(conn, test_prontuario)
       
        finops_df = get_finops_data(conn, test_prontuario)
        return timeline_df, finops_df
        
    finally:
        conn.close()

In [3]:
if __name__ == "__main__":
    patient_id = 876_950
    patient_id = 825_890 # Claudia
    patient_id = 175_583 # Renata
    # patient_id = 220_783 # caso cabelud0:: - 26 tentativas
    # patient_id = 182_925 # caso completo
    patient_id = 162_173
    patient_id = 641_950 # 11 cycles without payment
    patient_id = 150_491 # ovo recepção
    # patient_id = 155_282 # medico externo
    # patient_id = 738_349 # (marido 738_350 não aparece no clinisys) -- sem pagamento
    # patient_id = 678_207 # numero cliente duplicado no diario_vendas (78207)
    # patient_id = 839574 # utero de substituicao (815299)
    # patient_id = 849697 # 
    patient_id = 842663 # doadora
    patient_id = 832556
    patient_id = 873794

    timeline_df, finops_df = main(patient_id)

Creating timeline for patient: 873794
Connected to database: ../../database/huntington_data_lake.duckdb
Database file exists: True

In [4]:
timeline_df

,prontuario,event_id,event_date,reference,reference_value,tentativa,unidade,resultado_tratamento,flag_date_estimated,additional_info
0,873794.0,36966,2025-08-28,tratamentos,Ciclo a Fresco FIV,2,7,None,True,{}
1,873794.0,1469291,2025-08-14,extrato_atendimentos,1° US Ciclo,None,<NA>,None,False,{}
2,873794.0,1434014,2025-07-03,extrato_atendimentos,Consulta de Reprodução Humana,None,<NA>,None,False,{}
3,873794.0,29073,2025-06-07,congelamentos_embrioes,1803/25,None,<NA>,None,False,"{""NEmbrioes"": ""3"", ""Unidade"": ""7""}"
4,873794.0,34660,2025-06-02,tratamentos,Ciclo a Fresco FIV,1,7,No transfer,False,{}
5,873794.0,1413157,2025-06-02,extrato_atendimentos,Coleta Seminal: FIV,None,<NA>,None,False,{}
6,873794.0,1413154,2025-06-02,extrato_atendimentos,Aspiração Folicular: FIV,None,<NA>,None,False,{}
7,873794.0,1411181,2025-05-30,extrato_atendimentos,5º US Ciclo,None,<NA>,None,False,{}
8,873794.0,1411379,2025-05-28,extrato_atendimentos,1ª Consulta Psicologia,None,<NA>,None,False,{}
9,873794.0,1403988,2025-05-28,extrato_atendimentos,4º US Ciclo,None,<NA>,None,False,{}
10,873794.0,1403987,2025-05-26,extrato_atendimentos,3º US Ciclo,None,<NA>,None,False,{}
11,873794.0,1403989,2025-05-24,extrato_atendimentos,Consulta Pré Anestésica,None,<NA>,None,False,{}
12,873794.0,1403986,2025-05-24,extrato_atendimentos,2º US Ciclo,None,<NA>,None,False,{}
13,873794.0,1403350,2025-05-19,extrato_atendimentos,1° US Ciclo,None,<NA>,None,False,{}
14,873794.0,1367352,2025-04-17,extrato_atendimentos,Consulta de Reprodução Humana,None,<NA>,None,False,{}
15,873794.0,1370197,2025-04-04,extrato_atendimentos,Espermograma,None,<NA>,None,False,{}
16,873794.0,1363235,2025-03-31,extrato_atendimentos,Espermograma,None,<NA>,None,False,{}
17,873794.0,1332132,2025-02-13,extrato_atendimentos,1ª Consulta de Reprodução Humana,None,<NA>,None,False,{}

In [5]:
finops_df

,prontuario,cycle_with_transfer,cycle_without_transfer,cycle_total,fiv_initial_paid_count,fiv_initial_paid_total,fiv_extra_paid_count,fiv_extra_paid_total,cycle_egg_reception_paid_count,cycle_egg_reception_paid_total,transfer_receipt_paid_count,transfer_receipt_paid_total,fiv_paid_count,fiv_paid_total,timeline_first_date,timeline_last_date,billing_first_date,billing_last_date,timeline_unidade,billing_unidade,flag_cycles_no_payments,flag_more_cycles_than_payments,flag_no_cycles_but_payments,flag_less_cycles_than_payments
0,873794.0,0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2025-06-02,2025-06-02,NaT,NaT,7,None,1,1,0,0

In [6]:
timeline_df.loc[5, 'additional_info']

'{}'